@(user:Option[models.user.User],topic:(models.user.User,models.forum.Topic),page:models.Page[(String,String,Long,Long,Option[String],String,Int,java.sql.Timestamp)],topics:List[(Long, String, String, Long, String, Int, Int, Int)])
@import _root_.utils.Utils
@views.html.template(
user,
title = topic._2.title+"_讨论吧_广场_食美特，爱美食爱生活",
description =  topic._2.intro
)(css="/assets/css/template/forum.css") {
<div class="container discuss" id="forum">

<div class="forum clearfix">
<div class="forum-main">

    <div class="main-content">
        <div class="forum-title clearfix">
            <h3>
                <em class="wordbreak" id="J_Forumtitle">@topic._2.title</em>
						<span id="J_ForumStatusIcons">
                              @if(topic._2.isTop){
                    <div class="icon i-forum i-status-top" title="置顶帖"></div>
                    }
                    @if(topic._2.isBest){
                    <div class="icon i-forum i-status-best" title="精华"></div>
                    }
                    @if(topic._2.typeId == 0){
                    <div class="icon i-forum i-status-general" title="普通帖"></div>
                    }
                    @if(topic._2.typeId == 1){
                    <div class="icon i-forum i-status-ask" title="问答帖"></div>
                    }
                    @if(topic._2.typeId == 2){
                    <div class="icon i-forum i-status-knowlege" title="知识帖"></div>
                    }
						</span>

            </h3>
            @if(!user.isEmpty && user.get.id.get==topic._1.id.get){
            <a class="edit mt5" href="@controllers.routes.Forums.edit(topic._2.id.get)" rel="nofollow" >编辑</a>
             &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            }
            <a rel="followTopic"  href="javascript:;" class="follow-btn"  data-title="@topic._2.title" data-id="@topic._2.id.get" title="@topic._2.title">+ 关注</a>
        </div>
        <div class="forum-con">
            <ul class="forum-post " id="J_forumPost">
                <li class="first">
                    <a class="img" href="@controllers.users.routes.Users.home(topic._1.id.get)" target="_blank">
                        <img src="@topic._1.pic" width="80" height="80" alt="@topic._1.name"></a>

										<span class="info">
												<a class="g-daren" href="@controllers.users.routes.Users.home(topic._1.id.get)" target="_blank" title="@topic._1.name">
                                                  <em>@topic._1.name</em>
                                                 @if(topic._1.status==3){ <i class="i-daren">达人</i>}
                                                </a>
			                      <span class="time">/ @Utils.timestampFormat(topic._2.addTime.get)</span>
					</span>

                    <div class="post wordbreak" id="J_PostArtical"> @Html(topic._2.content)  </div>
                    <span class="post-floor">楼主</span>

                    <div class="oper clearfix">
                        <div class="share-link" data-sharetxt="@topic._2.title" data-sharepic="" data-sharelink="@controllers.routes.Forums.view(topic._2.id.get)">
                            <label class="fl l20 gc">分享到：</label>
                            <a class="s-sina fl" href="javascript:;" data-type="s-sina" alt="分享到新浪微博"></a>
                            <a class="s-qzone fl" href="javascript:;" data-type="s-qzone" alt="分享到QQ空间"></a>
                            <a class="s-tencent fl" href="javascript:;" data-type="s-tencent" alt="分享到腾讯微博"></a>
                            <a class="s-douban fl" href="javascript:;" data-type="s-douban" alt="分享到豆瓣"></a>
                            <a class="s-renren fl" href="javascript:;"  data-type="s-renren" alt="分享到人人网"></a>

                        </div>
                    </div>
                </li>
                @for((uname,upic,replyId,replyUid,replyQuoteContent,replyContent,replyCheckState,replyAddTime) <- page.items){
                @if(replyCheckState==1 || (!user.isEmpty && user.get.id.get==replyUid)){
                <li data-cmtid="@replyId">
                    <a class="img" href="@controllers.users.routes.Users.home(replyUid)" target="_blank" title="@uname"><img src="@upic" width="80" height="80"></a>
            		<span class="info"><a class="J_UserNick" href="@controllers.users.routes.Users.home(replyUid)" target="_blank" title="@uname">@uname</a>/ <span class="time">@replyAddTime </span> </span>

                    <div class="post">
                        @if(!replyQuoteContent.isEmpty && replyQuoteContent.get.trim !=""){
                        <div class="post-reply">
                              @Html(replyQuoteContent.get)
                        </div>
                        }
                        <div class="J_PostCon wordbreak">@Html(replyContent)</div>
                    </div>

                    <p class="oper" data-cmtid="@replyId">
                        <a class="J_postReply">回复</a>
                    </p>

                </li>
                }
                 }

            </ul>

            <div class="pagin inlineblock clearfix" id="J_Pagination">
                @if(page.nums.length>1){
                @page.prev.map { page =>
                <a class="prev" href="@controllers.routes.Forums.view(topic._2.id.get,page)">上一页</a>
                }
                @for(num <-page.nums){
                @if(num==page.currentPage){
                <span class="current">@num</span>
                }else {

                <a href="@controllers.routes.Forums.view(topic._2.id.get,num)">@num</a>
                }

                }

                @page.next.map { page =>

                <a class="next" href="@controllers.routes.Forums.view(topic._2.id.get,page)">下一页</a>

                }
                 }
            </div>
            </div>

            <div class="forum-editor clearfix">
                <form class="form-cmt" id="J_postCommentForm" action="/forum/addComment" method="post">
                    <input type="hidden" name="topicId" id="J_topicId" value="@topic._2.id.get" >
                    <input type="hidden" name="quoteContent" id="J_quoteContent" value="">
                    <ul class="pos-r clearfix">
                        @if(!user.isEmpty){
                        <li class="g-daren">@user.get.name</li>
                       }
                        <li id="J_postQuote" class="post-reply"></li>
                        <li class="clearfix mb10"><textarea class="b-textarea" id="J_commentContent" name="content" placeholder="说两句~~"></textarea></li>
                        <li class="clearfix">
                            <input type="button" class="bbl-btn" id="J_postCommentSubmit" value="发表">
                        </li>
                    </ul>
                </form>
            </div>
        </div>
    </div>
    <!-- forum post  end -->
<div class="forum-sidebar">
    <a class="create-topic" href="@controllers.routes.Forums.edit(0)" title="+创建话题" rel="nofollow">＋创建话题</a>


    <div class="box">
        <div class="hd">
            <h3>最新话题</h3>
        </div>
        <div class="bd user-member forum-latest">
            <ul>
                @for((uid,uname,upic,cid,cTitle,cReplyNum,cLoveNum,cHotIndex)<-topics){


                <li class="last">
                    <a class="img" href="@controllers.users.routes.Users.home(uid)" target="_blank"><img src="@upic" width="40px" height="40px"></a>
                    <a href="@controllers.routes.Forums.view(cid)" class="ofh wordbreak" title="@cTitle">@cTitle</a>
                    <span>@cReplyNum 条讨论</span>
                </li>
                }

            </ul>
        </div>
    </div>
</div>
<!--forum sidebar end-->
</div>
<!--forum main end -->

</div>


}{

<script type="text/javascript">
    seajs.use(['$','smeite/forum/forum','smeite/forum/favor','smeite/forum/topic','smeite/smeite.editor'],function($,forum,favor,topic,editor){

        $.smeite.editor = $.smeite.Editor({
            formId:"J_postCommentForm",
            textareaID:"J_commentContent",
            btnImg:{visible:false} ,
            btnBaobei:{visible:false}
        });



    })
</script>
}
