@(user:Option[models.user.User])
@views.html.template(
user,
title ="食美特，爱美食爱生活"
)(css="/assets/css/template/goods.detail.css") {

<div class="container clearfix">

    <!--main end-->
    <div class="product-main clearfix">

        <div class="main">
            <!-- pic show-->
            <div class="gallery">
                <div class="pic-box">

                    失败

                </div>

            </div>
            <!--pic show end-->



        </div>
        <!-- aside begin -->
        <div class="side">









        </div>
        <!-- aside end -->

    </div>

</div><!--container end-->



}{
<script type="text/javascript">

    seajs.use('app/init', function(init) {

    })
</script>
}