@(user:Option[models.user.User],numIid:Long,uid:Long,title:String,pic:String,price:String,location:String)
@views.html.template(
user,
title ="食美特，爱美食爱生活"
)(css="/assets/css/template/convert.product.css") {

<div class="container clearfix">

    <div id="J_loading">
        <img src="/assets/ui/loading1.gif">
    </div>

    <div class="product-main  clearfix" id="J_productMain">
        <div class="mb15">
            <img src="/assets/ui/help/3step2.png" alt="食美特 购物返利">
        </div>

        <div class="main">
            <!-- pic show-->
            <div class="gallery">
                <div class="pic-box">
                    @if(user.isEmpty){
                    <a id="J_noAccount" class="pic-link clearfix"  rel="loginD2" data-numiid="" data-goodsid="0" data-rate="70"  target="_blank" rel="nofollow" >
                        <img id="J_PicCover" src="" alt="" />
                    </a>
                    }else{
                    <a class="pic-link clearfix" id="J_gotoTaobao"  href="" target="_blank"  rel="nofollow">
                        <img id="J_PicCover" src="" alt="" />
                    </a>
                    }
                </div>
            </div>
            <!--pic show end-->



        </div>
        <!-- aside begin -->
        <div class="side">
            <div class="buy-info">
                <div class="buy-box  clearfix">
                    <dl class="buy-meta">
                        <dt><h3 class="title" id="J_title"> </h3></dt>
                        <dd class="clearfix">
                            <div class="price">
                                价格：
                                <span class="price-promotion" id="J_pricePromotion"></span>
                                <span class="price-normal" id="J_priceNormal"></span>
                            </div>
                            <div class="volume" id="J_volume">30天已售 </div>
                        </dd>
                       <dd>返利:&nbsp;<span id="J_jifenbao"> </span>&nbsp;<a href="/jifenbao">个集分宝</a>，值<span id="J_value"></span>元( 返利比例:<span id="J_rate"></span>%,奖励<a href="/shiDou">食豆</a>：<span>1</span>个 )</dd>
                      <dd class="location" id="J_location"></dd>
                    </dl>
                    @if(user.isEmpty){
                    <a class="buy-btn" rel="loginD2" id="J_noAccount2" data-numiid="" data-goodsid="0" data-rate="70"  target="_blank" rel="nofollow">去看看 &gt; </a>
                    }else{
                    <a class="buy-btn" id="J_gotoTaobao2"  href="" target="_blank" rel="nofollow">去看看 &gt; </a>
                    }
                </div>
            </div>

            <div class="clear"></div>
            <div class="how-to-tip">
                <span class="title">友情提醒</span>
                <p>1) 确认收货后即可返利，返利金额与实际成交价相关，打折商品可在成交价基础上获得等比例返利，享折上折待遇；</p>
                <p>2) 为确保您返利成功，请在点击“去购物，拿返利”之后<span class="red">尽快在淘宝下单，中途不要关闭浏览器或更换淘宝帐号。</span></p>
            </div>
        </div>
        <!-- aside end -->

    </div>

</div><!--container end-->



}{
<script type="text/javascript">

    seajs.use('app/init', function(init) {
        var $ = jQuery;
        var getRound = function(number, scale) {
            var f = parseFloat(number);
            if (isNaN(f)) {
                return;
            }
            var t = Math.pow(10, scale);
            f = Math.round(f * t) / t;
            return f;
        };
        var data ={
            title:'@title',
            pic:'@pic',
            numIid:'@numIid',
            promotionPrice:'@price',
            price:'@price',
            volume:'30',
            location:'@location',
            rate:'0',
            jifenbao:'0',
            jifenbaoValue:'0'
        }
        TOP.api('rest','post',{
            method:'taobao.taobaoke.widget.items.convert',
            num_iids:'@numIid',
            outer_code:'@uid',
            fields:'click_url,num_iid,nick,title,item_location,pic_url,price,promotion_price,commission_rate,volume'
        },function(resp){
            if(resp.error_response){
                window.location.href ="/ugc/api/convertError?errorAPI=taobao.taobaoke.widget.items.convert接口获取商信息品失败!"+resp.error_response.msg;

                return false;
            } else {
                var total=resp.total_results;
                if (total > 0) {
                    var respItem=resp.taobaoke_items.taobaoke_item;
                    if (respItem.length > 0) {
                        data.title = respItem[0].title
                        data.pic = respItem[0].pic_url
                        data.numIid = respItem[0].num_iid
                        data.promotionPrice = respItem[0].promotion_price
                        data.price = respItem[0].price
                        data.volume = respItem[0].volume
                        data.location = respItem[0].item_location
                        data.rate = getRound(Number(0.7)*Number(respItem[0].commission_rate)/100,2)
                        data.jifenbaoValue = getRound(Number(respItem[0].promotion_price)*Number(0.7)*Number(respItem[0].commission_rate)/10000,2)
                        data.jifenbao = getRound(Number(respItem[0].promotion_price)*Number(0.7)*Number(respItem[0].commission_rate)/100,2)
                        productShow(data)
                    }
                }else{
                    /* 显示服务端传过来的数据*/
                    productShow(data)
                }
            }

        })

        var productShow=function(data){
            $("#J_PicCover").attr("src",data.pic)
            $("#J_noAccount").data("numiid",data.numIid)
            $("#J_noAccount2").data("numiid",data.numIid)
            $("#J_pricePromotion").html("￥"+data.promotionPrice)
            $("#J_priceNormal").html("￥"+data.price)
            $("#J_volume").html("30天已售："+data.volume)
            $("#J_location").html("所在地："+data.location)
            $("#J_title").html(data.title)
            $("#J_rate").html(data.rate);
            $("#J_value").html(data.jifenbaoValue)
            $("#J_jifenbao").html("").html(data.jifenbao);
            $("#J_gotoTaobao").attr("href","/ugc/api/gotoTaobao/"+data.numIid+"?goodsId=0&rate=70")
            $("#J_gotoTaobao2").attr("href","/ugc/api/gotoTaobao/"+data.numIid+"?goodsId=0&rate=70")
            $("#J_productMain").show()
            $("#J_loading").hide()
        }

    })
</script>
}