@(user:Option[models.user.User],author:models.user.User,theme:models.theme.Theme,style:models.theme.ThemeStyle,page:Page[models.user.User])
@views.html.template(
user,
title = theme.name+" _ 主题达人 _ 食美特，爱美食爱生活",
keywords =  theme.tags.get,
description =theme.intro.get
)(css="/assets/css/template/theme.detail.css") {
<div class="container">

<style>
    body {
        background-color: @style.pageBgColor;
        background-image: url(@style.pageBgImage);
        background-repeat: @style.pageBgRepeat;
        background-position: @style.pageBgPosition;
        background-attachment: @style.pageBgAttachment;
    }

</style>
<div class="nav-wrap clearfix">
    @if(!user.isEmpty && user.get.id.get == author.id.get){
    <div class="user-tool">
        <div class="user-tool-nav clearfix">
            <div class="fl">
                <label>添加宝贝：<input type="text" class="base-input" placeholder="http://" id="J_UserProductUrl" value=""/></label>
                <a id="J_UserAddProduct" class="bbl-btn">确定</a>
                <i class="i-split"></i>
                <a href="@controllers.routes.Themes.edit(theme.id.get)" rel="nofollow" class="bgr-btn">编辑</a>
                <a id="J_UserThemeStyleOpenBtn" class="bgr-btn">美化</a>
            </div>
            <div class="fr">
                <a class="del" id="J_UserThemeDel" data-type="my" data-themeid="@theme.id.get">删除主题</a>
            </div>
        </div>
        <div class="user-theme-style clearfix" id="J_UserThemeStyle">

            <dl class="page-style">
                <dd>
                    <strong>页面背景</strong>
                    <label class="color"><span>底色：</span><a data-colorval="#F9F9EF" id="J_PageBgColor"><i
                            style="background-color:#F9F9EF"></i></a></label>
                    <label class="theme-pic"><span>图片：</span>
                        <button class="sgr-btn" id="J_PagePicBtn" data-src="">上传图片</button>
                        <div class="upload-con" id="J_PagePicUploadCon">
                            <p>支持JPG/PNG图片，文件需小于2M</p>

                            <form id="J_PagePicUploadForm" target="pagePicUploadTarget" action="@controllers.routes.Upload.uploadThemeStylePic"
                                  method="post" enctype="multipart/form-data">
                                <button class="bbl-btn">选择文件</button>
                                <input type="file" name="filedata" class="file-input" id="J_PageFileInput"
                                       onchange="window.submitPic(this, 'page')" size="20" hidefocus="true">
                                <input type="hidden" name="picType" value="themeBg">
                            </form>
                            <iframe name="pagePicUploadTarget" id="pagePicUploadTarget" width="0" height="0"
                                    style="display:none" frameborder="0" allowtransparent="yes" scrolling="no"></iframe>
                        </div>
                    </label>
                    <label><input type="checkbox" value="1" id="J_PageBgRepeat"/>平铺</label>
                    <label><input type="checkbox" value="1" id="J_PageBgAttachment"/>锁定</label>
                    <label><select id="J_PageBgPosition" data-val="left">
                        <option value="center">居中</option>
                        <option value="left">居左</option>
                        <option value="right">居右</option>
                    </select></label>
                    <a class="del" id="J_PagePhotoDel">移除图片</a>
                </dd>
            </dl>
            <div class="oper">
                <a class="bbl-btn" id="J_ThemeStyleSave">保存设置</a>
                <a class="bgr-btn" id="J_UserThemeStyleCloseBtn">关闭</a>
            </div>
        </div>
    </div>
    }
    <div class="brand-nav">
        <ul class="nav-bar clearfix">
            <li class="h on">
                <div class="nav-item clearfix">
                    <h2>
                        <a href="@controllers.routes.Themes.view(theme.id.get)" data-val="0">@theme.name</a>
                    </h2>
                    @if(!user.isEmpty && user.get.id.get == author.id.get){
                    <a href="javascript:;" class="follow  mt5 mr10" title="我的主题">我的主题</a>
                    }else{
                    <a rel="followTheme" href="javascript:;" class="follow mt5 mr10" data-type="1" data-themeid="@theme.id.get" title="关注">+ 关注</a>
                    }
                    <a class="btn-share mt5" href="javascript:;" data-sharetxt="我在食美特发现了这个主题，我很喜欢，分享给大家 :@theme.name  " data-sharelink="@controllers.routes.Themes.view(theme.id.get)" data-sharepic="@theme.pic" title="分享">分享</a>

                </div>
            </li>
            <li>
                <div class="nav-item">
                    <a  href="@controllers.routes.Themes.view(theme.id.get)" title="宝贝"><em>@theme.goodsNum</em><br>宝贝</a>
                </div>
            </li>
            <li>
                <div class="nav-item">
                    <a href="@controllers.routes.Themes.board(theme.id.get,1)">@theme.replyNum<br>讨论</a>
                </div>
            </li>
            <li>
                <div class="nav-item">
                    <a class="trait" href="@controllers.routes.Themes.likes(theme.id.get,1)"><em id="J_LikeCount">@theme.loveNum</em><br>关注</a>
                </div>
            </li>
            <i></i>
        </ul>
			<span class="pos-l-txt gc6">返回：
    	    	        <a href='@controllers.routes.Pages.jie("hot",1)'>美食街</a>
    	    	        <span class="ml5 mr5">/</span>
                      <a href="@controllers.routes.Pages.gallery(theme.cid)">@models.Cate(theme.cid)</a>

                        </span>
    </div>

</div>

<div class="main clearfix">
<div class="alllikes colmain715 box-shadow" id="J_Alllikes">
<div class="pl20 pr20">
<h3><a href="@controllers.Themes.view(theme.id.get)">@theme.name</a>&nbsp;&gt;&nbsp;关注这个主题的人</h3>
<ul class="clearfix">
    @for(u<-page.items){
    <li>
        <div class="user-pic">
            <a href="@controllers.users.routes.Users.home(u.id.get)" title="@u.name">
                <img src="@u.pic" width="60"  height="60" alt="@u.name" title="@u.name">
            </a>
        </div>
        <div class="user-info">
            <p class="username">
                <a class="ofh inlineblock" href="@controllers.users.routes.Users.home(u.id.get)">@u.name</a>
            </p>

            <p>集分宝(@(author.credits))&nbsp;/&nbsp;食豆(@(author.shiDou))</p>
            <a rel="follow" href="javascript:;" class="follow-btn" data-followtype="5" data-userid="@u.id" data-usernick="@u.name">加关注</a>
        </div>
    </li>
    }

</ul>
<div class="clearfix pt20 pb10">
    <div class="pagin clearfix fr">
        @if(page.nums.length>1){
        @page.prev.map { page =>
        <a class="prev" href="@controllers.routes.Themes.likes(theme.id.get,page)">上一页</a>
        }
        @for(num <-page.nums){
        @if(num==page.currentPage){
        <span class="current">@num</span>
        }else {
        <a href="@controllers.routes.Themes.likes(theme.id.get,num)">@num</a>
        }
        }
        @page.next.map { page =>
        <a class="next" href="@controllers.routes.Themes.likes(theme.id.get,page)">下一页</a>
        }

       }
    </div>
</div>
</div>
</div>
<div class="side colaside230">

    <div class="author box-shadow">
        <div class="message">
            <strong>主题寄语</strong>
            <span class="fr"><a href="@controllers.routes.Themes.edit(theme.id.get)" rel="nofollow">编辑</a></span>

            <p>@theme.intro</p>
        </div>

        <div class="info">
            <div class="pic">
                <a href="@controllers.users.routes.Users.home(author.id.get)">
                    <img src="@author.pic" width="50"  height="50" alt="@author.name" title="@author.name">
                </a>
            </div>
            <div class="pic-text">
                <div class="txt-title clearfix">
                    <a href="@controllers.users.routes.Users.home(author.id.get)" target="_blank"><em class="ofh inlineblock">@author.name</em></a> &nbsp;创建
                </div>
                <p>集分宝(@(author.credits))&nbsp;/&nbsp;食豆(@(author.shiDou))</p>
            </div>
        </div>
    </div>
    @if(!theme.tags.isEmpty){
    <div class="tags box-shadow  plr10">
        <div class="title">相关标签</div>
        <ul class="clearfix">
            @for(tag<-theme.tags.get.split(",")){
            <li><a href='@controllers.routes.Pages.find("tag",tag,1)' target="_blank">@tag</a></li>
            }

        </ul>
    </div>
    }
    <div class="comments box-shadow plr15">
        <div class="title">
            <a href="@controllers.routes.Themes.board(theme.id.get,1)" class="all-follows">进入&gt;</a>
            讨论板
        </div>
        <div class="comment-wrap clearfix">
            <textarea class="b-textarea" id="J_SideCmtContent" name="commentContent"></textarea>
            <a class="sbl-btn" id="J_SideCmt" href="javascript:;" data-name="no386">发表</a>
        </div>
        <ul id="J_CmtList">
        </ul>
    </div>


</div>
</div>


<div class="theme_share clearfix box-shadow">
    <span class="theme_tip">看完啦？别忘了关注一下~</span>
    <a rel="followTheme" data-type="1" class="ifollow" data-themeid="@theme.id.get" href="javascript:;" title="关注">+ 关注</a>
    <a class="icomment" href="@controllers.routes.Themes.board(theme.id.get,1)#cmtlist" title="讨论">讨论</a>

    <div class="share fr">
        <span class="fl l20">叫上好友一起来：</span>
        <a class="s-sina"
           href="javascript:void((function(){var title=encodeURIComponent('《@theme.name》－ 食美特，发现生活之美');var link=window.location.href;var pic='';window.open('http://service.t.sina.com.cn/share/share.php?appkey=1464940004&title='+title+'&pic='+pic+'&url='+link);})())"
           alt="分享到新浪微博"></a>
        <a class="s-qzone"
           href="javascript:void((function(){var title=encodeURIComponent('《@theme.name》－ 食美特，发现生活之美');var link=window.location.href;window.open('http://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?url='+link);})())"
           alt="分享到QQ空间"></a>
        <a class="s-tencent"
           href="javascript:void((function(){var title=encodeURIComponent('《@theme.name》－ 食美特，发现生活之美');var link=window.location.href;var pic='';window.open('http://v.t.qq.com/share/share.php?appkey=100344510&url='+link+'&title='+title+'&pic=&site='+link);})())"
           alt="分享到腾讯微博"></a>
        <a class="s-douban"
           href="javascript:void((function(){var title=encodeURIComponent('《@theme.name》－ 食美特，发现生活之美');var link=window.location.href;window.open('http://www.douban.com/recommend/?url='+link+'&title='+title);})())"
           alt="分享到豆瓣"></a>
        <a class="s-renren"
           href="javascript:void((function(){var title=encodeURIComponent('《@theme.name》－ 食美特，发现生活之美');var link=window.location.href;window.open('http://share.renren.com/share/buttonshare.do?link='+link+'&title='+title);})())"
           alt="分享到人人网"></a>
        <a class="s-163"
           href="javascript:void((function(){var title=encodeURIComponent('《@theme.name》－ 食美特，发现生活之美');var link=window.location.href;var pic='';window.open('http://t.163.com/article/user/checkLogin.do?link='+link+'&source=食美特&info='+title+link+'&images='+pic+'&togImg=true');})());"
           alt="分享到网易微博"></a>
    </div>
</div>
</div>
<input id="J_ThemeId" type="hidden" value="@theme.id.get">

}{
<script type="text/javascript">
    seajs.use('app/init', function (init) {
        init.load('app/theme/theme.detail,app/theme/theme.discuss,app/theme/theme.favor,app/user/user.follow');
    });
</script>
}