@(user:Option[models.user.User],author:models.user.User,theme:models.theme.Theme,goodses:List[models.goods.Goods])
@views.html.template(
user,
title = theme.name+"  _ 食美特，爱美食爱生活",
keywords =   theme.tags.getOrElse("食美特"),
description =  theme.intro.getOrElse("食美特，爱美食爱生活")
)(css="/assets/css/template/theme.css") {

<div class="container">
<div class="nav-wrap clearfix">
    @if(!user.isEmpty && user.get.id.get == author.id.get){
    <div class="user-tool">
        <div class="user-tool-nav clearfix">
            <div class="fl">
                <label>添加宝贝：<input type="text" class="base-input" placeholder="http://" id="J_UserProductUrl" value=""/></label>
                <a id="J_UserAddProduct" class="bbl-btn">确定</a>
                <i class="i-split"></i>
                <a href="@controllers.routes.Themes.edit(theme.id.get)" rel="nofollow" class="bgr-btn">编辑</a>
            </div>
            <div class="fr">
                <a class="del" id="J_UserThemeDel" data-type="my" data-themeid="@theme.id.get">删除主题</a>
            </div>
        </div>

    </div>
    }
    <div class="brand-nav">
        <ul class="nav-bar clearfix">
            <li class="h on">
                <div class="nav-item clearfix">
                    <h2>
                        <a href="@controllers.routes.Themes.view(theme.id.get)" data-val="0">@theme.name</a>
                    </h2>
                    @if(!user.isEmpty && user.get.id.get == author.id.get){
                    <a href="javascript:;" class="follow  mt5 mr10"  title="我的主题">我的主题</a>
                    }else{
                    <a rel="followTheme" href="javascript:;" class="follow  mt5 mr10" data-type="1" data-themeid="@theme.id.get" title="关注">+ 关注</a>
                    }

                </div>
            </li>
            <li>
                <div class="nav-item">
                    <a class="trait" href="#" title="宝贝"><em>@theme.goodsNum</em><br>宝贝</a>
                </div>
            </li>
            <li>
                <div class="nav-item">
                    <a href="#J_themeInfo">@theme.replyNum<br>讨论</a>
                </div>
            </li>
            <li>
                <div class="nav-item">
                    <a href="#J_themeInfo"><em id="J_LikeCount">@theme.loveNum</em><br>关注</a>
                </div>
            </li>

        </ul>
			<span class="pos-l-txt gc6">返回： <a href='@controllers.routes.Pages.themes'>主题</a><span class="ml5 mr5">/</span> <a href='@controllers.routes.Pages.themeList(theme.cid,1,1)'>@models.Cate(theme.cid)</a> </span>
    </div>

</div>
<section class="goods-contents clearfix">
    <div class="goods-list clearfix" id="J_GoodsWall">
        @for((goods,i)<-goodses.view.zipWithIndex) {
        <div class="goods-item @if((i+1)%4==0){last}">
            <div class="pic" style='height:210px '>
                <a href="@controllers.routes.Baobei.view(goods.id.get)" target="_blank">
                    <img width="210px" alt="@goods.name" title="@goods.name" src="@goods.pic" >
                </a>
                <a  href="@controllers.routes.Baobei.view(goods.id.get)" class="goods_title">@goods.name</a>

            </div>
            <div class="goods-wrap">
                <div class="price">
                    <span>￥@goods.price</span>
                    <div class="like-state">
                        <a rel="followGoods" href="javascript:void(0)" data-proid="@goods.id.get">
                            <i class="ico-likes"  title="喜欢"></i>
                        </a>
                        <div class="like-num">
                            <dl class="J_scrollUp" style="top: 0px;">
                                <dd class="J_FavorNum" data-val="@goods.loveNum">@goods.loveNum</dd>
                                <dd>+1</dd>
                            </dl>
                        </div>
                    </div>
                </div>
                <div class="user-comment">
                    <div class="comment clearfix">
                        <!-- 用户评论 -->
                        <div class="user-list">

                            <div class="share-user">
                                <a class="fl" href="@controllers.users.routes.Users.home(author.id.get)"><img class="avt32 fl" src="@author.pic" alt="@author.name" width="30" height="30"></a>
                                <div class="info">
                                    <a class="go-to-comment" href="@controllers.routes.Baobei.view(goods.id.get)#J_CommentTxa" style="display: none" target="_blank">评论</a>
                                   <!-- <h3><a href="@controllers.users.routes.Users.home(author.id.get)" target="_blank">@author.name</a></h3>-->
                                    <a href="@controllers.routes.Baobei.view(goods.id.get)" target="_blank"><p>@goods.intro</p></a>
                                </div>
                            </div>
                        </div>
                        <!-- 用户评论 end -->
                    </div>
                </div>
            </div>
        </div>

        }
    </div>
</section>


<div class="theme-info box-shadow clearfix" id="J_themeInfo">
    <div class="discusses">
        <h3 class="title">我很想对这个主题说</h3>
        <div class="discusses-wrap clearfix">
            <form id="J_cmtForm">
            <textarea class="b-textarea" id="J_Content" name="commentContent" placeholder="你也可以顺便说点什么吧 O(∩_∩)O"></textarea>
            <input type="button" class="bbl-btn" id="J_cmtSubmit" value="确定">
                <div id="J_FaceBtn">
                    <a class="faceBtn" href="javascript:;" unselectable="on" facebtn="faceBtn">表情</a>
                </div>
            </form>
       </div>

           <!-- <div class="cmt clearfix cmt-noworth" data-cmtid="1" data-proid="23">
                <div class="user-pic">
                    <img src="/images/user/1363011053560.jpg" alt="怡然" width="50" height="50">
                </div>
                <div class="cmt-doc">
                    <div class="cmt-info clearfix">
                        <span class="fl t">怡然</span>
                        <span class="fr gc">来自 腾讯QQ </span>
                        <span class="fr gc mr5">2013-01-07 13:58:09.0 </span>
                    </div>
                    <p class="cmt-content clearfix"><span>各种美味坚果都在里面了，并且包装精美，送亲人朋友都很合适哦！ </span> </p>
                </div>
            </div>
-->
        </div>
    <div class="loves">
        <h3 class="title mb20">我喜欢这个主题</h3>
        <div class="theme-follow">

            <a rel="followTheme" href="javascript:;" class="follow  mt5 mr10" data-type="1" data-themeid="@theme.id.get" title="关注">+ 关&nbsp;注</a>
             @theme.loveNum人
        </div>
        <div class="share-link share32  clearfix" data-sharetxt="@theme.name ,@theme.intro" data-sharepic="@theme.pic" data-sharelink="@controllers.routes.Themes.view(theme.id.get)">
            <h3 class="title mt10">分享到：</h3>

                <a class="sh_sina fl" href="javascript:;" data-type="s-sina" alt="分享到新浪微博">新浪微博</a>
                <a class="sh_qzone fl" href="javascript:;" data-type="s-qzone" alt="分享到QQ空间">QQ空间</a>
                <a class="sh_tencent fl" href="javascript:;" data-type="s-tencent" alt="分享到腾讯微博">腾讯微博</a>
                <a class="sh_renren fl" href="javascript:;" data-type="s-renren" alt="分享到人人网">人人网</a>

        </div>
         <div class="theme-lovers">
             <h3 class="title mt10">最近喜欢的人：</h3>
            <!-- <ul>
                 <li>
                     <div class="user-pic">
                         <a href="/user/39" title="明月渺">
                             <img src="/images/user/default.jpg" width="50" height="50" alt="明月渺" title="明月渺">
                         </a>
                     </div>
                 </li>
                 <li>
                     <div class="user-pic">
                         <a href="/user/65" title="为新市民子女服务">
                             <img src="http://qzapp.qlogo.cn/qzapp/100344510/92257A13BA96C52062B1F18F68715F9F/50" width="50" height="50" alt="为新市民子女服务" title="为新市民子女服务">
                         </a>
                     </div>
                 </li>
             </ul>-->
         </div>

    </div>
    <div class="author">
       <h3 class="title">
           主题寄语
           @if(!user.isEmpty && user.get.id.get == author.id.get){
           <span class="fr"><a href="@controllers.routes.Themes.edit(theme.id.get)" rel="nofollow">编辑</a></span>
           }
       </h3>

            <div class="message">


                <p>@theme.intro</p>
            </div>

            <div class="info">
                <div class="pic">
                    <a href="@controllers.users.routes.Users.home(author.id.get)">
                        <img src="@author.pic" width="50"  height="50" alt="@author.name" title="@author.name">
                    </a>
                </div>
                <div class="pic-text">
                    <div class="txt-title clearfix">
                        <a href="@controllers.users.routes.Users.home(author.id.get)" target="_blank"><em class="ofh inlineblock">@author.name</em></a> &nbsp;创建
                    </div>
                    <p>集分宝(@(author.credits))&nbsp;/&nbsp;食豆(@(author.shiDou))</p>
                </div>
            </div>

        @if(!theme.tags.isEmpty){

        <div class="tags">
            <h3 class="title">相关标签</h3>
            <ul class="clearfix">
                @for(tag<-theme.tags.get.split(",")){
                <li><a href='@controllers.routes.Search.search(tag,1)' target="_blank">@tag</a></li>
                }

            </ul>
        </div>
        }


    </div>

</div>


</div>

<input id="J_ThemeId" type="hidden" value="@theme.id.get">

}{


<script type="text/javascript">
    seajs.use(['smeite/theme/theme','smeite/smeite.simpleEditor','smeite/theme/favor','smeite/baobei/favor'])
</script>
}