@(user:Option[models.user.User],author:models.user.User,authorStatic:models.user.UserStatic,page:Page[(String,List[(java.sql.Timestamp,Long,Long,String,String,String,String,String,Int,Int,Int,String)])],orders:List[models.user.UserOrder],s:Int)
@views.html.template(
user,
title =  author.name+" 在食美特的个人主页，食美特，爱美食爱生活"
)(css="/assets/css/template/user.css") {
        <div class="container clearfix" id="home">
            <div class="u-nav box-shadow">
                <ul class="clearfix">
                    <li class=" user bigfs">
                        <a href="@controllers.users.routes.Users.home(author.id.get)">
                            <img src="@author.pic" alt="@author">@author.name
                        </a>
                    </li>
                    <li class="cur"><a href="@controllers.users.routes.Users.credits(author.id.get)">N+<br>集分宝</a></li>
                    <li><a href="@controllers.users.routes.Users.baobei(author.id.get)">@(authorStatic.postBaobeiNum+authorStatic.loveBaobeiNum)<br>宝贝</a></li>
                    <li><a href="@controllers.users.routes.Users.theme(author.id.get)">@(authorStatic.postThemeNum+authorStatic.loveThemeNum)<br>主题</a></li>
                    <li><a href="@controllers.users.routes.Users.forum(author.id.get)">@(authorStatic.postTopicNum+authorStatic.loveTopicNum)<br>讨论</a></li>
                    <li ><a href="@controllers.users.routes.Users.fans(author.id.get)">@authorStatic.fansNum<br>粉丝</a></li>
                    <li class="last" ><a href="@controllers.users.routes.Users.follow(author.id.get)">@(authorStatic.followNum)<br>我关注的</a></li>
                   <!-- <li class="last"><a href="@controllers.users.routes.Users.appraisal(author.id.get)">N+<br>求鉴定</a></li>
                </ul>-->
            </div>
            <!--nav  end -->
            <div class="user-bd clearfix">
                <div class="user-main">
                <div class="main box-shadow plr15">
                    <div class="main-title clearfix">
                        <h2>
                            @if(s == -1){  最近30天浏览的宝贝 }else{ <a href="@controllers.users.routes.Users.credits(author.id.get,0,1)">最近30天浏览的宝贝 </a> }
                            <span class="ml5 mr5">|</span>
                            @if(s == 1){  成功返利的宝贝 }else{ <a href="@controllers.users.routes.Users.credits(author.id.get,1,1)">成功返利的宝贝 </a> }
                        </h2>
                    </div>
                    @for(items<-page.items){
                    <div class="credits-time">@items._1</div>
                    <div class="credits-list">
                        @for((createTime,uid,numIid,nick,title,location,pic,price,withdrawRate,credits,status,volume)<- items._2){
                    <div class="credits-item clearfix">

                                <div class="credits-detail">
                                    <div class="con">

                                        <div class="fd-baobei fd-media clearfix">
                                            <div class="pic">
                                                @if(user.isEmpty){
                                                <a rel="loginD2" data-numiid="@numIid" data-goodsid="0" data-rate="70" title="@title" target="_blank">
                                                    <img src='@(pic+"_120x120.jpg")' width="80" height="80" alt="@title" title="@title">
                                                </a>
                                                }else{
                                                <a href="@controllers.ugc.routes.API.gotoTaobao(numIid,0,70)" title="@title" target="_blank">
                                                    <img src='@(pic+"_120x120.jpg")' width="80" height="80" alt="@title" title="@title">
                                                </a>
                                                }

                                            </div>
                                            <dl class="info">
                                                <dt>
                                                <h3 class="title ofh">
                                                @if(user.isEmpty){
                                                <a rel="loginD2" data-numiid="@numIid" data-goodsid="0" data-rate="70" class="name ofh"  title="@title">@title </a>
                                                }else{
                                                <a class="name ofh" href="@controllers.ugc.routes.API.gotoTaobao(numIid,0,70)" title="@title">@title </a>
                                                }
                                            </h3>
                                                </dt>
                                                <dd class="clearfix">
                                                    <div class="price">
                                                        价格：
                                                        <span class="price-promotion"> ¥@price </span>
                                                    </div>
                                                    <div class="volume">
                                                        30天已售 @volume
                                                    </div>
                                                </dd>

                                                <dd>返利:&nbsp;<span>@credits</span>&nbsp;<a href="/jifenbao">个集分宝</a>，值<span>@(credits/100.0)</span>元，返利比例:<span>@(withdrawRate/100.0)</span>%</dd>



                                            </dl>
                                            <div class="time">
                                              <p>@createTime</p>
                                               @if(status==1){
                                                <p>已返利:<span>@credits</span>个集分宝</p>
                                                }
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                   }
                    </div>

                    }

                    <div class="clearfix pt20 pb20">
                        <div class="pagin fr pagination" id="J_Pagination">
                            @if(page.nums.length>1){
                            @page.prev.map { page =>
                            <a class="prev" href="@controllers.users.routes.Users.credits(author.id.get,s,page)">上一页</a>
                            }
                            @for(num <-page.nums){
                            @if(num==page.currentPage){
                            <a class="current" href="#">@num</a>
                            }else {
                            <a href="@controllers.users.routes.Users.credits(author.id.get,s,num)">@num</a>
                            }
                            }
                            @page.next.map { page =>
                            <a class="next" href="@controllers.users.routes.Users.credits(author.id.get,s,page)">下一页</a>
                            }
                            }
                        </div>
                    </div>

                </div>
              </div>

                <div class="user-side">
                    <div class="interest box-shadow plr15 ss">
                        <div class="title">最新浏览的宝贝 </div>
                        <ul class="interGoods" id="J_InterGoods">
                            @for(item<-orders){
                            <li>
                                <div class="goods-pic">
                                    @if(user.isEmpty){
                                    <a rel="loginD2" data-numiid="@item.numIid" data-goodsid="0" data-rate="70" title="@item.title" target="_blank">
                                        <img src='@(item.pic+"_80x80.jpg")' width="80" height="80" alt="@item.title" title="@item.title">
                                    </a>
                                    }else{
                                    <a href="@controllers.ugc.routes.API.gotoTaobao(item.numIid,0,70)" title="@item.title" target="_blank">
                                        <img src='@(item.pic+"_80x80.jpg")' width="80" height="80" alt="@item.title" title="@item.title">
                                    </a>
                                    }

                                </div>
                                <div class="goods-info">
                                    @if(user.isEmpty){
                                    <a rel="loginD2" data-numiid="@item.numIid" data-goodsid="0" data-rate="70" class="name ofh"  title="@item.title">@item.title </a>
                                    }else{
                                    <a class="name ofh" href="@controllers.ugc.routes.API.gotoTaobao(item.numIid,0,70)" title="@item.title">@item.title </a>
                                    }

                                    <p>价格：￥<span>@item.price</span></p>
                                    <p>返利：<span>@item.credits</span>个集分宝</p>
                                    <p>返利比例:<span>@(item.withdrawRate/100.0)%</span></p>
                                </div>
                            </li>
                            }



                        </ul>
                    </div>
                    <!--user side credits end-->

                </div>
                </div>

            </div>
        </div>
        }{
<script>

    seajs.use('app/init', function(init) {

    })
</script>
}