/**
 * Created by zuosanshao.
 * User: smeite.com
 * Email:zuosanshao@qq.com
 * @description: 
 * @depends: 
 * Includes:
 * Since: 13-6-22  上午9:40
 * ModifyTime : 
 * ModifyContent:   for siteEdit.scala.html
 * http://www.smeite.com/
 *
 */
.site-edit{
    min-height: 500px;
    padding: 30px;
    background: white;
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.site-edit h2 {
    margin-bottom: 20px;
    padding: 0 0 20px 0;
    border-bottom: 1px dotted #D1D1D1;
    font-size: 18px;
    line-height: 1.2;
}
.col-left{
    float:left;
    width: 520px;
}
.fm-item {
    float: left
}

.fm-item p {
    padding: 5px 0 0 0;
    color: #999
}

.fm-item .b-input, .intro-txa {
    width: 360px ;
    padding: 2px 12px;
}
.fm-item .big{
    width: 580px;
}
.intro-txa {
    height: 100px
}

.fm-item select {
    width: 180px;
    margin-right: 12px
}
.fm-item .uploadImg{position:relative;height:28px;/*padding-bottom:12px;border-bottom:1px dotted #ddd;*/}
.fm-item .upload-cover{width:105px;}
.fm-item .upload-btn{ position:absolute;top:0px;left:0px;filter:alpha(opacity=0);opacity:0;z-index:698;display:block;width:105px;height:28px; cursor:pointer;}

 .fm-item p.fl{
     padding-left: 15px;
 }
 .fm-item .sub-item{
    display: none;
     width: 520px;
     padding: 10px 0;
     background-color: #f5f5f5;
 }
 .sub-item dl {
     float: left;
 }
 .sub-item dl dt{
     float: left;
 }
 .sub-item dl dd{
     margin-top: 5px;
     float: left;
 }
 .sub-item select{
     width: 80px;
 }


 .fm-item .type {
     font-size: 14px;
     display: inline-block;
     padding: 2px 10px;
     margin:5px 15px 5px auto;
     background: #ddd;
     -moz-border-radius: 15px;
     -webkit-border-radius: 15px;
     border-radius: 15px;
     behavior: url(PIE.htc);
 }
.fm-item  .type.active {
    background: #449acd;
    color: #fff;
    border-radius: 15px;
    behavior: url(../js/PIE.htc);
}
.fm-item .type:hover{
text-decoration: none;
    background: #1c82bf;
    color: #fff;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    behavior: url(PIE.htc);

}
 .col-right{
     margin-right: 50px;
     width: 300px;
    float: right;
 }
 .col-right .about {
     border-top: 4px solid #000;
     padding: 20px;
     border-right:1px solid #eee;
     border-left:1px solid #eee;
     border-bottom: 1px solid #eee;
 }
.col-right .about .bd {
    color: #aaa;
    margin-top: 20px;
}
#J_GuangEditorIframe{
    height: 250px;
}