/**
 * Created by zuosanshao.
 * Date: 12-9-18
 * Time: 下午3:02
 * 维护人员:zuosanshao@qq.com
 */

.main-box {
    width: 950px;
    margin: 20px auto 25px;
    background: #fff;
    padding: 15px;
}

.flash {
    width: 700px;
    height: 250px;
    background-color: #fff;
    overflow: hidden;
    position: relative;
    z-index: 99
}

.flash .scrollable {
    width: 685px;
    height: 250px;
    background-color: #fff;
    overflow: hidden;
    position: relative;
}

.flash .scrollable .items {
    width: 20000em;
    position: absolute;
    z-index: 1;
}

.flash .scrollable .items .item {
    width: 685px;
    height: 250px;
    position: relative;
    float: left;
}

.flash .scrollable .items .item a {
    cursor: pointer;
    color: #333;
}

.flash .navi {
    z-index: 1;
    position: absolute;
    right: 20px;
    bottom: 0;
    overflow:hidden; }

.flash .navi li {
    position: relative;
    width: 7px;
    margin-right: 5px;
    float: right;
    display: inline;
    padding-top: 15px;
}



.flash .navi li span {
    z-index: 10;
    position: absolute;
    top: 5px;
    width: 7px;
    height: 7px;
    overflow: hidden;
    background: url(images/navi.png) repeat-x -13px 0;
}

.flash .navi li.active span {
    background-position: 0 0
}

.bulletin {
     padding-left: 20px;
     width:230px;
     height:250px;
     background-color: #f9f9f9;
 }
.bulletin h3{
    text-align: center;
    font-size: 16px;
    color: #333;
}
.bulletin p{
    padding: 10px 0;
    text-align: center;
}
.bulletin .edit{
    font-size: 20px;
    color: #E26;
    font-weight: bolder;
}

.bulletin .create-theme {
    display: inline-block;
    width:100px;
    height: 30px;
    border: 1px solid #7ab121;
    background-color: #86b835;
    border-radius: 3px;
    text-align: center;
    line-height:30px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
}

.bulletin .create-theme:hover {
    text-decoration: none;
    background: #86b835 url(images/button.png) -5px -611px;
}

.bulletin .create-theme:active {
    text-decoration: none;
    background: #86b835 url(images/button.png) -5px -641px;
}

/* themes -tops end */
.tag-book {
    margin-top: 20px;
    background-color: #fff;
    padding: 20px
}

.tag-book .hd {
    position: relative;
    height: 30px;
    padding-bottom: 10px;
    border-bottom: 1px dotted #dedede
}

.tag-book .hd h2 {
    font-size: 20px;
    font-family: 'Microsoft YaHei', '黑体';
    font-weight: normal;
    height: 30px;
    line-height: 30px;
    text-align: center
}
.tag-book .hd h2 a{
    color: #333;
}

.tag-book .hd .prev {
    position: absolute;
    top: 8px;
    left: 0
}

.tag-book .hd .next {
    position: absolute;
    top: 8px;
    right: 0
}

.tag-book .hd .next a, .tag-book .hd .prev a {
    color: #666
}
.theme-main {
    float: left;
    width: 690px;
    overflow: hidden
}

.theme-main .last-item {
    margin-right: 0 !important
}

.theme-main .theme-nav {
    border-bottom: 1px dotted #d1d1d1;
    height: 39px
}

.theme-main .theme-nav li {
    height: 20px;
    line-height: 20px;
    float: left;
    padding: 10px 0;
    font-size: 12px;
    color: #666
}
.theme-main .theme-nav li.cur{
background: url(images/on.png) repeat-x top;
    }

.theme-main .theme-nav li a {
    color: #666;
    text-decoration: none;
    padding: 0 13px
}

.theme-main .theme-nav li.on {
    background: url(images/topic-nav-on.gif) no-repeat center bottom;
    font-weight: 700
}
.theme-main .theme-nav li.on a{
    color: #F82B6A;
}

.theme-main .category-nav {
    width: 716px;
    border-bottom: 2px solid #eaeae1\9
}

.theme-list .theme-item {
    float: left;
    *display: inline;
    width: 210px;
    margin-right: 30px;
    padding: 20px 0 10px 0;
    background-color: #fff;
    overflow: hidden
}

.theme-item .pic {
    display: block;
    width: 210px;
    overflow: hidden
}

.theme-item a.pic:hover {
    text-decoration: none
}

.theme-item .pic .b-img {
    width: 210px;
    height: 210px;

    float: left
}

.theme-item .pic .s-img {
    width: 50px;
    height: 50px;
    float: left;
    margin: 1px;
    background: #ccc
}
.theme-item .pic .hover {
    opacity: 1;
    filter: alpha(opacity = 100)
}
.theme-item h3 {
    padding-top: 15px;
    font-size: 16px;
    line-height: 1.1;
    color: #666
}

.theme-item h3 a, .theme-item h3 a:hover {
    text-decoration: none;
    color: #666
}

.theme-item .title {
    color: #333
}

.theme-item .title a {
    text-decoration: none;
    color: #333 !important
}


.theme-item .info .editor-link, .theme-item .info .editor-link:hover {
    color: #666
}

.count-like, .count-cmt {
    padding: 0 0 0 18px;
    line-height: 18px;
    font-size: 12px;
    color: #BBB;
    background: url(images/like-icon2.png) 1px -14px no-repeat
}

.theme-item .info {
    width: 210px;
    line-height: 24px;
    margin: 10px 0;
    color: #999;
    height: 72px;
    overflow: hidden
}

.theme-item .follow {
    height: 24px;
    width: 53px;
    border-radius: 2px;
    text-align: center;
    display: inline-block;
    line-height: 24px;
    color: #fff;
    background-color:#86b835;
    border: 0;
}
.theme-item .followed {
    height: 24px;
    width: 53px;
    border-radius: 2px;
    text-align: center;
    display: inline-block;
    line-height: 24px;
    color: #999;
    background-color:#f3f3f3;
    border: 0;
}


.theme-item a.on {
    height: 24px;
    width: 53px;
    border-radius: 2px;
    text-align: center;
    display: inline-block;
    line-height: 24px;
    background: #86b835;
    border: 0;
    color: #fff;
    text-decoration: none
}



.theme-item .followed-btn {
    cursor: default;
    height: 24px;
    float: left;
    line-height: 24px;
    color: #999;
    background: #f2f2f2;
    border-radius: 3px;
    display: block;
    padding: 0 6px;
    border: 0
}

.theme-item .follow-likes {
    color: #666;
    text-decoration: none
}

.theme-item:hover .follow-likes {
    color: #86b835;
    text-decoration: none
}

.theme-item .followed-btn a {
    color: #666;
    text-decoration: none
}

.theme-item span.mete {
    color: #999;
    padding-top: 5px;
    display: inline-block
}



