/*
 * 样式文件
 * User: Administrator
 * Date: 12-7-26  
 * Time: 下午10:26
 * 维护：zuosanshao@qq.com
*/

.header {
    height: 63px;
    background-color: #fff;
    /*background: url(images/header-bg.png) repeat-x;*/
}
.header .hd-left {
    float: left;
    display: inline-block;
    width: 235px;
    margin-top: 10px;
}
.header .hd-right{
    float: right;
    width: 600px;
    display: inline-block;
    margin-top:20px;
}
#header .logo{
    display: block;
    height: 50px;
    cursor: pointer;
    line-height:50px;
    font-size: 17px;
    font-weight: bolder;
    color: #999;
    text-align: left;
}
#header .logo-img {
    display: block;
    float: left;
    width: 87px;
    height: 50px;
}

#header .logo-intro{
    display: block;
    float: left;
    color: #999;
    height: 50px;
    line-height: 50px;
}



#header .follow {
    float: left;
    width: 180px;
    height: 35px;
   
    overflow: hidden;
}

.header  .search {
    position: relative;
    float: left;
    width: 298px;
    height: 24px;
    border: 1px solid #ccc;
    background: #fff
}

.header  .search:hover {
    border-color: #b3b3b3
}

.header  .search .emptyhint {
    top: 0;
    left: 7px;
    color: #999
}

.header  .search button {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 23px;
    height: 24px;
    border: 0;
    background: #ccc url(images/bg_header.png) 0 -65px no-repeat;
    text-indent: -99px;
    cursor: pointer;
    overflow: hidden
}

.header  .search input {
    display: block;
    width: 265px;
    padding: 5px 0 3px 10px;
    height: 14px;
    height: 13 px\9;
    _height: 12px;
    font-size: 12px;
    border: 0
}

.header  .typing input {
    background: #fffee0
}

.header  .typing button {
    background-color: #669932;
    background-position: 0 -88px
}

.header  .gm-third-login {
    float: left;
    margin-left: 10px
}

.header  .gm-third-login a {
    display: block;
    float: left;
    width: 58px;
    height: 26px;
    padding-left: 32px;
    color: #fff;
    line-height: 26px
}

.header  .gm-login-sina {
    background: #eb5055 url(images/bg_header.png) 10px -112px no-repeat
}

.header  .gm-login-sina:hover {
    background-color: #d13f44;
    background-position: 10px -138px
}

.header  .gm-login-qq {
    background: #449bb5 url(images/bg_header.png) 10px -164px no-repeat
}

.header  .gm-login-qq:hover {
    background-color: #2b7f99;
    background-position: 10px -190px
}

.header  .gm-login-taobao {
    background: #ff9900 url(images/bg_header.png) 10px -216px no-repeat
}

.header  .gm-login-taobao:hover {
    background-color: #ff6600;
    background-position: 10px -242px
}


