@(user:Option[models.user.User],goods:models.goods.Goods,firstShareUser:models.user.User,tags:List[models.tag.TagGoods])
@views.html.template(
user,
title =goods.name+"_食美特，爱美食爱生活",
description = goods.intro

)(css="/assets/css/template/goods.detail.css") {

<div class="container clearfix">

<!--main end-->
    <div class="product-main clearfix">

        <div class="main">
            <!-- pic show-->
                <div class="pic-box">

                    <a class="pic-link"  href='@if(goods.clickUrl.isEmpty || goods.clickUrl.get.trim==""){@goods.detailUrl}else{@goods.clickUrl.get}' target="_blank"  rel="nofollow">

                        @for(img<-goods.itemPics.split("&")){
                        <img  src='@(img+"_460x460.jpg")' alt="@goods.name" width="460" />
                        }
                    </a>

                    <div class="like-common like-common-s" id="J_likeCommon156391">
                        <a  class="like" rel="followGoods" href="javascript:void(0)" data-proid="@goods.id.get" title="喜欢"><i>喜欢</i></a>
                        <div class="like-num">
                            <dl class="J_scrollUp">
                                <dd class="J_FavorNum" data-val="@goods.loveNum">@goods.loveNum</dd>
                                <dd>+1</dd>
                            </dl>
                        </div>
                    </div>
                    <a class="bbl-btn pic-more" href='@if(goods.clickUrl.isEmpty || goods.clickUrl.get.trim==""){@goods.detailUrl}else{@goods.clickUrl.get}' >查看更多图片&gt;&gt;</a>
                </div>


            <!--pic show end-->



        </div>
        <!-- aside begin -->
        <div class="side">

            <div class="buy-info">
                <span class="arrow-left"></span>
            <h3 class="title"> @goods.name</h3>

                 <div class="user-recommend clearfix">
                     <div class="pic fl">
                         <a target="_blank" href="#">
                             <img width="60" height="60" src="@firstShareUser.pic" alt="@firstShareUser.name" class="fl">
                         </a>
                     </div>
                     <div class="intro fl">
                         @if(goods.intro!=""){
                         @goods.intro
                         <span class="intro-quot"></span>
                         }
                     </div>
                 </div>

                 <dl class="buy-box  clearfix">


                         <dd class="go-to-buy">
                             <div class="price">
                                 <span class="price-promotion"> ¥@goods.price</span>
                             </div>

                          <a class="buy-btn"  href='@if(goods.clickUrl.isEmpty || goods.clickUrl.get.trim==""){@goods.detailUrl}else{@goods.clickUrl.get}'  target="_blank" rel="nofollow">去看看 &gt;&gt; </a>

                         </dd>
                     <dd class="shareTips">

                         <a rel="nofollow" class="info-wrong" href="javascript:;" id="J_JiuCuo" data-proid="488">信息有误？</a>
                         <div class="share-link" data-sharetxt="@goods.name" data-sharepic="@goods.pic" data-sharelink="@controllers.routes.Goods.view(goods.id.get)">
                             <label class="fl l20 gc">分享到：</label>
                             <a class="s-sina fl" href="javascript:;" data-type="s-sina" alt="分享到新浪微博"></a>
                             <a class="s-qzone fl" href="javascript:;" data-type="s-qzone" alt="分享到QQ空间"></a>
                             <a class="s-tencent fl" href="javascript:;" data-type="s-tencent" alt="分享到腾讯微博"></a>
                             <a class="s-douban fl" href="javascript:;" data-type="s-douban" alt="分享到豆瓣"></a>
                             <a class="s-renren fl" href="javascript:;"  data-type="s-renren" alt="分享到人人网"></a>

                         </div>
                     </dd>
                 </dl>


             </div>
            <!-- first share end  -->
               <div class="comment-list">

                        <div class="comment" id="J_comment">

                        </div>
                        <!--comment end-->

                    </div>
             <!--comment-list end-->
        </div>
        <!-- aside end -->

    </div>
<!--<div id="product-like">
    <h3>猜你喜欢</h3>
    <div class="goods-wall">



    </div>

</div>-->
</div><!--container end-->



        }{
<script type="text/javascript">

    seajs.use('app/init', function(init) {
        init.load('app/goods/goods.detail,app/goods/goods.favor.new');
    })
</script>
}