@(page:models.Page[models.goods.Goods],tag:String,s:Int)
<!doctype html>
<html>
<head>
    <title>食美特，爱美食爱生活</title>
    <meta property="wb:webmaster" content="59dcb1f27fb8d6af" />
    <meta property="qc:admins" content="10213762651456375" />
    <meta charset="utf-8"/>
    <meta name="keywords" content="食美特,美食,创意,特产,礼物,居家,导购,smeite,坚果,巧克力,zakka,简约">
    <meta name="description" content="Smeite.com致力于发现绿色安全、健康美味的食品，推荐美观实用、简约实惠的家居用品以及充满创意的好玩意。我们严格把控商品的品质，用心创造一个值得信赖的购物分享社区。我们所做的一切，就是通过我们的努力，为更多的消费者提供更有效、更有价值的购物决策建议">
    <link rel="shortcut icon" type="image/png" href="/assets/favicon.png">
    <link rel="stylesheet" href="/assets/css/global/global.css?v=2013052601">
    <link rel="stylesheet" href="/assets/css/template/fanjijie.css?v=2013052601">
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="/assets/js/html5.js" type="text/javascript"></script>
    <![endif]-->
    <script type="text/javascript" charset="utf-8" src="http://fusion.qq.com/fusion_loader?appid=100716416&platform=qzone"></script>
</head>
<body id="J_Page">

<div id="page">
    <div id="top">
        <div class="container">
            <div class="tag-header clearfix">
                <div class="tag-logo"></div>
                <div class="clear"></div>
            </div>
        </div>
    </div>

    <div id="content">
<div class="container" class="clearfix">
    <div class="tag-banner">
        <img src="/assets/ui/fanji/topbanner2.png">
    </div>
<!--商品列表 start-->
    <div class="day-option">
       <ul >
        <li @if(tag=="反季"){class="c"}><a href='@controllers.routes.QQApps.fanjijie("反季",1,1)'><i></i>全部</a></li>
        <li @if(tag=="反季女装"){class="c"}><a href='@controllers.routes.QQApps.fanjijie("反季女装",1,1)'><i></i>女装</a></li>
        <li @if(tag=="反季男装"){class="c"}><a href='@controllers.routes.QQApps.fanjijie("反季男装",1,1)'><i></i>男装</a></li>
        <li @if(tag=="反季鞋子"){class="c"}><a href='@controllers.routes.QQApps.fanjijie("反季鞋子",1,1)'><i></i>鞋子</a></li>
        <li @if(tag=="反季品牌"){class="c"}><a href='@controllers.routes.QQApps.fanjijie("反季品牌",1,1)'><i></i>品牌</a></li>
    </ul>
        <ul class="filter">
            <li @if(s==1){class="c"}><a href='@controllers.routes.QQApps.fanjijie(tag,1,1)'>爆款</a></li>
            <li @if(s==2){class="c"}><a href='@controllers.routes.QQApps.fanjijie(tag,2,1)'>最新</a></li>
            <li @if(s==3){class="c"}><a href='@controllers.routes.QQApps.fanjijie(tag,3,1)'>最热</a></li>
        </ul>
    </div>



<div class="today-goods-list">
<!--单个商品 start-->
    @for(goods<-page.items){
<div class="today-goods-item clearfix">


    <a  href="javascript:void(0);" onclick="fusion2.nav.open({url : '@goods.clickUrl.getOrElse(goods.detailUrl)'}); return false;">
        <img class="goods-item-img" src='@(goods.pic+"_310x310.jpg")' alt="@goods.name" width="300" height="@(goods.hwRate*300)"></a>
    <div class="goods-item-info">
        <h2 class="goods-item-title">
              @goods.name
            </a>
        </h2>
        <div class="goods-item-desc">
            <i class="quotation-marks"></i>
            <a   class="desc-txt" href="javascript:void(0);" onclick="fusion2.nav.open({url : '@goods.clickUrl.getOrElse(goods.detailUrl)'}); return false;">
                @goods.intro
            </a>

        </div>
        <div class="goods-item-buy clearfix">
            <a  class="goods-item-buy-btn clearfix"  href="javascript:void(0);" onclick="fusion2.nav.open({url : '@goods.clickUrl.getOrElse(goods.detailUrl)'}); return false;">

                @if(goods.promotionPrice.isEmpty){
                <span class="current-price"> ¥@goods.price</span>
                }else{
                @if(goods.price!=goods.promotionPrice.get){
                <span class="current-price"> ¥@goods.promotionPrice.get </span>
                <span class="original-price"> ¥@goods.price </span>

                }else{
                <span class="current-price"> ¥@goods.price</span>
                }
                }

                <span class="go-to-buy">去抢购 &gt;</span>

            </a>
            <div class="others-wrap">
            <span class="others-share" style="width: 50px;padding-right: 15px;">
                <script type="text/javascript">
                (function(){
                    var p = {
                        url:location.href,
                        showcount:'0',/*是否显示分享总数,显示：'1'，不显示：'0' */
                        desc:'@goods.intro',/*默认分享理由(可选)*/
                        summary:'@goods.name',/*分享摘要(可选)*/
                        title:'@goods.name',/*分享标题(可选)*/
                        site:'',/*分享来源 如：腾讯网(可选)*/
                        pics:'@goods.pic', /*分享图片的路径(可选)*/
                        style:'102',
                        width:88,
                        height:30
                    };
                    var s = [];
                    for(var i in p){
                        s.push(i + '=' + encodeURIComponent(p[i]||''));
                    }
                    document.write(['<a version="1.0" class="qzOpenerDiv" href="http://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?',s.join('&'),'" target="_blank">分享</a>'].join(''));
                })();
            </script>
<script src="http://qzonestyle.gtimg.cn/qzone/app/qzlike/qzopensl.js#jsdate=20111201" charset="utf-8"></script>

            </span>
                <span class="want-to-buy">有<i>@goods.loveNum</i>人想买</span>

            </div>
            <div class="clear"></div>
            <a  class="others-say"  href="javascript:void(0);" onclick="fusion2.nav.open({url : '@goods.clickUrl.getOrElse(goods.detailUrl)'}); return false;">看看买过的人怎么说&gt;&gt;</a>
        </div>
    </div>
</div>
    }
<!--单个商品 end-->

</div>
    <div class="clearfix pt20 pb20 pr30">
        <div class="pagin fr pagination" id="J_Pagination">
            @if(page.nums.length>1){
            @page.prev.map { page =>
            <a class="prev" href="@controllers.routes.QQApps.fanjijie(tag,s,page)"> 上一页</a>
            }
            @for(num <-page.nums){
            @if(num==page.currentPage){
            <span class="current">@num</span>
            }else {
            <a href="@controllers.routes.QQApps.fanjijie(tag,s,num)">@num</a>
            }
            }
            @page.next.map { page =>
            <a class="next" href="@controllers.routes.QQApps.fanjijie(tag,s,page)">下一页 </a>
            }
            }
        </div>
    </div>

    <div class="no-pro">
        <h2>去看看还有什么值得买</h2>
        <p></p>
    </div>
    <div class="bt-logo" style="padding-bottom:20px;">
       <ul id="imgLinks">
        <li class="item-1"><a href="javascript:void(0);" onclick="fusion2.nav.open({url : 'http://s.click.taobao.com/t?e=zGU34CA7K%2BPkqB05%2Bm7rfGGjlY60oHcc7bkKOQnNEhj6rQAFeQY%2BZRJiORaoWPYsbF2g7OUNUzw2b5r9bjTtX6NlVD8Vy4UPnYXqRLKOf51E9wXOmJgnGJxDlfUS3GoIZY%2FBqJkpPtPjoDUV4RzfBR1gp5N7Xu0rwLEsNSBqY4fmSkx0u8pukmSVQYmw%2BVh16NmTddvtEmdfLv5Tz0aHeC9B48GlsQ3R3ONtaHf857ixIr6Jj14mhw4CIrvIwvXfdMYcemtsRjNyZIcBfO9mr0ZazjN%2FQwZKNjWKPsxf6hwfNF2rL%2B2bUFqRyAiEhmd8E4uH0BNTKJnl8LHHovTKz%2BpRjAUQW6OJjt%2BLNV8kCQ%3D%3D'}); return false;"    >衣服<i></i></a></li>
        <li class="item-2"><a href="javascript:void(0);" onclick="fusion2.nav.open({url : 'http://s.click.taobao.com/t?e=zGU34CA7K%2BPkqB05%2Bm7rfGGjlY60oHcc7bkKOQnNEhj6oGdeCa8QWB40nychA6CWWoSYeqAQIqZAI%2B6HUrP3FVih9scPLbEOdg8JgLnkrxiPpRIpq4g%2BLYUEostBdZ8k2F4DNIPNj%2BU3DcgDitDg7unkHcEgSMX6sD20dltsf2wvqnlRCaa1lWDL2E2SNZmAV1n3R0P45S11gdraaUizNHxnLA6ETfn5l3zl8HWGWmPZ3JOllbgfUXej29sTN7mghpbB1rNGL5Cx%2FVuKmQp24Z6EsO%2BSVsVdcsyOt37LT%2F71c%2FLyoGsL54xp4PvzO4wMsrkcwTrP6hsJFVbgQP1ts%2BHqr50%3D'}); return false;">包包<i></i></a></li>
        <li class="item-3"><a href="javascript:void(0);" onclick="fusion2.nav.open({url : 'http://s.click.taobao.com/t?e=zGU34CA7K%2BPkqB05%2Bm7rfGGjlY60oHcc7bkKOQnNEhj6oaOEDsNxjCDCov7AtbwizSASNxwHc%2BStnpTEvw4otusXOprSoDZVsuHPOdowty2iQ%2FmXl%2F75To0HmF2wPeMGyeC1jfyBVgicDhEgzf6VNO0djZQb3FYDSa%2BpkopHGKBM86JJAmAW5u3U93x4LUtPdB24xs6V%2BSWutA3lRYIgRi7LqqdeI6cO3OAjabbtCGHEMK9rOkWH5EIhbq6%2Fx1KK%2B1EH0ZVjp6FLmCQqxUOYV5mkh5PCcohNsyGgd99ZJFnALWCYPgHqMEPleJdsxM4799PDWBeTeAHa0Q%3D%3D'}); return false;" >美鞋<i></i></a></li>
        <li class="item-5"><a href="javascript:void(0);" onclick="fusion2.nav.open({url : 'http://s.click.taobao.com/t?e=zGU34CA7K%2BPkqB05%2Bm7rfGGjlY60oHcc7bkKOQnNEhj6oad1exFQ0z7zVKe38IYOPfT6w78dn%2BxzZ%2BtuKZhRnal8z%2FKTRYyjftfd5719QKVnKbuYxl4zJWLKLErSL21aTZsgVAl9chUstHH%2F89I%2FBl7hFDNapKOmqr%2FGh8XOwOxJsvliLg5e6xWJvxSZOdXqi4BDT4HotrsKKp%2Bt%2BpTVMfnw9MQ%3D'}); return false;">配饰<i></i></a></li>
    </ul>
    </div>

    <div class="footer" style="margin:5px auto;text-align: center">
        声明： [反季节] 应用由 杭州大懒虫网络技术有限公司 提供，联系我们QQ：1469909930 QQ群：319962802  客服邮箱：smeite@@qq.com
    </div>

</div>


    </div>





</div>

</body>
</html>

