@(page:models.Page[(models.user.User,models.goods.Goods)],t:String,s:Int)
@views.html.qqapps.template(title="反季节")(css="/assets/css/template/fanji.css") {
<div class="container" id="fanji">

    <section class="filter-wrap clearfix">
        <h2>@t</h2>
        <div class="goods-filter">
            <a type="list_default"   href='@controllers.routes.QQApps.fanji(t,1,1)' @if(s==1){ class="current" } ><span>推荐</span></a>
            <a type="list_new_most" href='@controllers.routes.QQApps.fanji(t,2,1)'  @if(s==2){class=" current"}><span>最新</span></a>
            <a type="list_hot_most"  href='@controllers.routes.QQApps.fanji(t,3,1)'  @if(s==3){class=" current"}><span>最热</span></a>
        </div>
        <i></i>
    </section>

    <section class="goods-contents clearfix">
        <div class="goods-list clearfix" id="J_GoodsWall">
            @for(((user,goods),i)<-page.items.view.zipWithIndex) {
            <div class="goods-item @if((i+1)%4==0){last}">
                <div class="pic" style='height:210px '>
                    <a href="@controllers.routes.QQApps.fanjiView(goods.id.get)" target="_blank">
                        <img width="210px" alt="@goods.name" title="@goods.name" src="@goods.pic" >
                    </a>
                    <a  href="@controllers.routes.QQApps.fanjiView(goods.id.get)" class="goods_title">@goods.name</a>

                </div>
                <div class="goods-wrap">
                     <div class="price">
                         @if(goods.promotionPrice.isEmpty){
                         <span class="price-normal"> ¥@goods.price</span>
                         }else{
                         <span class="price-promotion"> ¥@goods.promotionPrice.get </span>
                         <span class="price-normal"> ¥@goods.price </span>
                         }
                         <div class="like-state">
                             <a rel="followGoods" href="javascript:void(0)" data-proid="@goods.id.get">
                                 <i class="ico-likes"  title="喜欢"></i>
                             </a>
                             <div class="like-num">
                                 <dl class="J_scrollUp" style="top: 0px;">
                                     <dd class="J_FavorNum" data-val="@goods.loveNum">@goods.loveNum</dd>
                                     <dd>+1</dd>
                                 </dl>
                             </div>
                         </div>
                     </div>
                    <div class="user-comment">
                        <div class="comment clearfix">
                            <!-- 用户评论 -->
                            <div class="user-list">

                                    <div class="share-user">
                                        <a class="fl" href="#"><img class="avt32 fl" src="@user.pic" alt="@user.name" width="30" height="30"></a>
                                        <div class="info">

                                            <h3><a href="#" target="_blank">@user.name</a></h3>
                                            <a href="@controllers.routes.QQApps.fanjiView(goods.id.get)" target="_blank"><p>@goods.intro</p></a>
                                        </div>
                                    </div>
                            </div>
                            <!-- 用户评论 end -->
                        </div>
                    </div>
                </div>
            </div>

             }
        </div>
    </section>


    <!--宝贝展示 end-->
     <div class="clear"></div>
    <div class="pt30 pb20 clearfix">
        <div class="pagin4faxian tac">
            <ul>
                @for(num <-page.nums){
                @if(num==page.currentPage){
                <li><span>第 @num 页</span></li>
                }else {
                <li><a href='@controllers.routes.QQApps.fanji(t,s,num)'>第@num 页</a></li>
                }
                }
            </ul>

            <span class="current">第 @page.currentPage 页</span>
            @if(page.currentPage != page.totalPages){
            <a title="翻翻下一页" href='@controllers.routes.QQApps.fanji(t,s,page.currentPage+1)' class="next">翻翻下一页&gt;</a>
              }
        </div>
    </div>
    <!--翻页 end-->
</div>



}{
<script type="text/javascript">
    seajs.use('app/init', function (init) {
        init.load('app/goods/goods.faxian,app/goods/goods.favor.new');
    });
</script>
}