@(user:Option[models.user.User],page:models.Page[models.user.User],totalInviters:Int,totalReward:Int)
@views.html.template(
user
)(css="/assets/css/template/user.setting.css") {
<div class="container" id="account">
    <div class="setting clearfix">
        <div class="side-nav">
            <h2>帐号设置</h2>
            <ul>

                <li><a href="@controllers.users.routes.UsersCommission.myCredits(1)">我的集分宝</a></li>
                <li><a href="@controllers.users.routes.UsersCommission.myShiDou(1)">我的食豆</a></li>
                <li><a href="@controllers.users.routes.UsersCommission.myAward">我的奖品</a></li>
                <li><a class="on" href="@controllers.users.routes.UsersCommission.invite(1)">邀请有奖</a></li>
            </ul>
        </div>
        <!--side nav end-->
        <div class="main-content">
            <div class="invite">

                <div class="title">一：邀请有奖之规则</div>
                <ul class="invite-intro clearfix">
                        <li>1、您每邀请一个朋友加入食美特，（登录并成功返利），最高可获得<strong class="rc">1000个集分宝</strong>的邀请奖励</li>
                        <li>2、邀请好友必须是新用户（即以前没登录过食美特，或者没有注册过食美特），如果她已是食美特老用户了，那么是没有奖励的</li>
                        <li>3、您可以把您的专用邀请链接通过任何方式发给您的朋友，例如，QQ好友，qq群、阿里旺旺、论坛、社区等</li>
                        <li>4、邀请奖金分3次发放：当好友的集分宝累计达到100个时奖200个；当集分宝累计达到1000个时再奖300个；当集分宝累计达到5000个集分宝时再奖500个集分宝；</li>
                        <li><strong class="alert">禁作弊提醒</strong>：严禁自己邀请自己、刷小号等作弊行为，一旦反作弊系统监测到作弊行为，将拉黑账号处理，邀请也无效</li>

                </ul>


                <div class="title">二：这是您的专用邀请链接，可通过任何方式发送给好友</div>
                <div class="invite-link clearfix">
                    <textarea id="clip-text" class="base-txa invite_txa">这里，不仅是中国最大的美食购物社区，而且，购物还赠送额外的集分宝哦！~ http://smeite.com/user/regist?i=@user.get.id.get</textarea>
                    <input type="button" class="bbl-btn submit" id="J_Clip" value="复制">
                </div>


                <div class="title">三：分享到您的社区</div>
                <div class="invite-share clearfix">
                    <ul class="clearfix">
                        <li><a class="i-sina"
                               href="javascript:void((function(){var title=encodeURIComponent('这里，不仅是中国最大的美食购物分享社区，而且购物还可以获得集分宝哦！~ ');var link=encodeURIComponent('http://smeite.com/user/regist?i=@user.get.id.get');window.open('http://service.t.sina.com.cn/share/share.php?appkey=1207757825&title='+title+'&url='+link);})())">新浪微博</a>
                        </li>
                        <li><a class="i-qq"
                               href="javascript:void((function(){var title=encodeURIComponent('这里，不仅是中国最大的美食购物分享社区，而且购物还可以获得集分宝哦！~ ');var link=encodeURIComponent('http://smeite.com/user/regist?i=@user.get.id.get');window.open('http://v.t.qq.com/share/share.php?appkey=801128565&url='+link+'&title='+title+'&site='+link);})())">腾讯微博</a>
                        </li>
                        <li><a class="i-renren"
                               href="javascript:void((function(){var title=encodeURIComponent('这里，不仅是中国最大的美食购物分享社区，而且购物还可以获得集分宝哦！~ ');var link=encodeURIComponent('http://smeite.com/user/regist?i=@user.get.id.get');window.open('http://share.renren.com/share/buttonshare.do?link='+link+'&title='+title);})())">人人</a>
                        </li>
                        <li><a class="i-douban"
                               href="javascript:void((function(){var title=encodeURIComponent('这里，不仅是中国最大的美食购物分享社区，而且购物还可以获得集分宝哦！~ ');var link=encodeURIComponent('http://smeite.com/user/regist?i=@user.get.id.get');window.open('http://www.douban.com/recommend/?url='+link+'&title='+title);})())">豆瓣</a>
                        </li>
                        <li><a class="i-qzone"
                               href="javascript:void((function(){var title=encodeURIComponent('这里，不仅是中国最大的美食购物分享社区，而且购物还可以获得集分宝哦！~ ');var link=encodeURIComponent('http://smeite.com/user/regist?i=@user.get.id.get');window.open('http://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?url='+link+'&title='+title);})())">QQ空间</a>
                        </li>
                    </ul>
                    <div class="share-tip">温馨提示：据食美特统计，QQ空间最容易邀请到好友，所以一定记得把您的专用邀请链接发到QQ空间里哦~</div>
                </div>
                <div class="title">四：邀请返利记录</div>
                <div class="invite-record clearfix">
                    <div class="invite_success mb10">您已成功邀请<span>@totalInviters</span>人，累计获得<span>@totalReward</span>个集分宝，相当于现金<span>@(totalReward/100.0)</span>元</div>

                    <table  class="table">
                        <thead>
                        <tr  height="35">
                            <th  width="110">好友昵称</th>
                            <th  width="120">好友来源</th>
                            <th  width="127">好友消费积分</th>
                            <th  width="272">奖励情况</th>
                        </tr>
                        </thead>
                        <tbody>
                        @if(page.items.length !=0){
                        @for(item <- page.items){
                        <tr>
                            <td><a href="@controllers.users.routes.Users.home(item.id.get)" target="_blank">@item.name </a></td>
                            <td>@models.user.ComeFrom(item.comeFrom)</td>
                            <td>@(item.credits)</td>
                            <td>
                                  @if(user.get.alipay.isEmpty || user.get.alipay.get.trim ==""){
                                您还没有填写支付宝，<a href="@controllers.users.routes.UsersAccount.payment">现在就去填写吧</a>
                                }else{
                                @if(item.credits > 99){
                                <a rel="getInvitePrizes" class="getInvitePrizes" data-credits="@item.credits" data-uid="@user.get.id.get" data-inviteeid="@item.id.get"></a>
                                }
                                }
                            </td>
                        </tr>
                        }
                        }else{
                        <tr>
                            <td colspan="4" class="table_one">您还没有邀请过，赶快加入吧！</td>
                        </tr>
                        }
                        </tbody>
                    </table>

                </div>

                <div class="clearfix pt20 pb20">
                    <div class="pagin fr pagination" id="J_Pagination">
                        @if(page.nums.length>1){
                        @page.prev.map { page =>
                        <a class="prev" href="@controllers.users.routes.UsersCommission.invite(page)">上一页</a>
                        }
                        @for(num <-page.nums){
                        @if(num==page.currentPage){
                        <span class="current">@num</span>
                        }else {
                        <a href="@controllers.users.routes.UsersCommission.invite(num)">@num</a>
                        }
                        }
                        @page.next.map { page =>
                        <a class="next" href="@controllers.users.routes.UsersCommission.invite(page)">下一页</a>
                        }
                        }
                    </div>
                </div>

            </div>
            <!-- end -->
        </div>
    </div>
    }{
    <script type="text/javascript">
       seajs.use("app/init", function (init) {
            init.load("app/user/user.invitation");
        });
    </script>
    }