@(user:Option[models.user.User])
@views.html.template(
user
)(css="/assets/css/template/user.setting.css") {
<div class="container" id="account">
    <div class="content clearfix">
        <div class="side-nav">
            <h2>我的返利</h2>
            <ul>
                <li> <a class="on"  href="@controllers.users.routes.UsersCommission.myCredits">我的集分宝</a> </li>
                <li> <a  href="@controllers.users.routes.UsersCommission.myShiDou">我的食豆</a>  </li>
                <li> <a  href="@controllers.users.routes.UsersCommission.myAward">我的奖品</a>  </li>
                <li> <a href="@controllers.users.routes.UsersCommission.invite(1)">邀请有奖</a> </li>
            </ul>
        </div>
        <div class="main-content">
            <div class="credits mb20">
                <div class="credits_info">您已经获得<span>@user.get.credits</span>个集分宝，值<span>￥@(user.get.credits/100.0)</span>元</div>

                <div class="title">集分宝返利记录</div>
            <table class="table">
                <thead>
                <tr  height="35">
                    <th  width="110">返利商品</th>
                    <th  width="174">返利数量</th>
                    <th  width="127">处理时间</th>
                    <th  width="272">处理结果</th>
                </tr>
                </thead>
                <tbody>

                <tr>
                    <td colspan="4" class="table_one">您还没有返利，赶快加入吧！</td>
                </tr>

                </tbody>
            </table>

            </div>

            <div class="help">
                <div class="help-title">帮助</div>
                <ul>
                    <li><a href="/rebate" target="_blank">了解什么是购物返现？</a></li>
                    <li><a href="/jifenbao" target="_blank">了解什么是集分宝?</a></li>


                </ul>
            </div>
        </div>
    </div>
</div>

}{
<script type="text/javascript">
    seajs.use("app/init", function(init){
        //  init.load("app/user.award");
    });
</script>
}