@(user:Option[models.user.User],page:Page[models.user.UserOrder],status:Int)
@views.html.template(
user
)(css="/assets/css/template/user.setting.css") {
<div class="container" id="account">
    <div class="setting clearfix">
        <div class="side-nav">
            <h2>我的返利</h2>
            <ul>
                <li> <a  class="on" href="@controllers.users.routes.UsersCommission.myOrders(1,1)">购买记录</a> </li>
                <li> <a  href="@controllers.users.routes.UsersCommission.myCredits(1)">我的集分宝</a> </li>
                <li> <a  href="@controllers.users.routes.UsersCommission.myShiDou(1)">我的食豆</a>  </li>
                <li> <a  href="@controllers.users.routes.UsersCommission.myAward">我的奖品</a>  </li>
                <li> <a href="@controllers.users.routes.UsersCommission.invite(1)">邀请有奖</a> </li>
            </ul>
        </div>
        <div class="main-content">
            <div class="orders mb20">
                <div class="orders_info">您已经获得<span>@user.get.credits</span>个集分宝，值<span>￥@(user.get.credits/100.0)</span>元， 已成功发放<span>@user.get.withdrawCredits</span>个集分宝 </div>
                 @if(status==0){
                <div class="title"><a href="@controllers.users.routes.UsersCommission.myOrders(1,1)">已返订单</a></div>
                <div class="title">浏览的商品</div>
                }else{
                <div class="title">已返订单</div>
                <div class="title"><a href="@controllers.users.routes.UsersCommission.myOrders(1,0)">浏览的商品</a></div>
                }
            <table class="table">
                <thead>
                <tr  height="35">
                    <th  width="110">宝贝图片</th>
                    <th  width="80">宝贝名称</th>
                    <th  width="100">宝贝价格</th>
                    <th  width="80">返利</th>
                    <th  width="100">返利比例</th>
                    <th  width="272">浏览时间</th>
                </tr>
                </thead>
                <tbody>
                   @for(item <- page.items){
                 <tr>
                     <td>
                         <a href="@controllers.ugc.routes.API.gotoTaobao(item.numIid,0,70)" title="@item.title" target="_blank">
                             <img src='@(item.pic+"_80x80.jpg")' width="80" height="80" alt="@item.title" title="@item.title">
                         </a>
                     </td>
                     <td>
                         <a class="name ofh" href="@controllers.ugc.routes.API.gotoTaobao(item.numIid,0,70)" title="@item.title">@item.title </a>
                     </td>
                     <td>
                         @item.price
                     </td>
                     <td>
                         @item.credits
                     </td>
                     <td>
                         @(item.withdrawRate/100.0)%
                     </td>
                     <td>@item.createTime</td>
                 </tr>
                }
                </tbody>
            </table>
                <div class="clearfix pt20 pb20">
                    <div class="pagin fr pagination" id="J_Pagination">
                        @if(page.nums.length>1){
                        @page.prev.map { page =>
                        <a class="prev" href="@controllers.users.routes.UsersCommission.myOrders(page,status)">上一页</a>
                        }
                        @for(num <-page.nums){
                        @if(num==page.currentPage){
                        <span class="current">@num</span>
                        }else {
                        <a href="@controllers.users.routes.UsersCommission.myOrders(num,status)">@num</a>
                        }
                        }
                        @page.next.map { page =>
                        <a class="next" href="@controllers.users.routes.UsersCommission.myOrders(page,status)">下一页</a>
                        }
                        }
                    </div>
                </div>

            </div>


            <div class="help">
                <div class="help-title">帮助</div>
                <ul>
                    <li><a href="/rebate" target="_blank">了解什么是购物返现？</a></li>
                    <li><a href="/jifenbao" target="_blank">了解什么是集分宝?</a></li>


                </ul>
            </div>
        </div>
    </div>
</div>

}{
<script type="text/javascript">
    seajs.use("app/init", function(init){
        //  init.load("app/user.award");
    });
</script>
}