@(user:Option[models.user.User])
@views.html.template(
user
)(css="/assets/css/template/user.setting.css") {
<div class="container" id="account">
    <div class="content clearfix">
        <div class="side-nav">
            <h2>帐号设置</h2>
            <ul>
                <li> <a  href="@controllers.users.routes.UsersCommission.myCredits">我的集分宝</a> </li>
                <li> <a class="on"  href="@controllers.users.routes.UsersCommission.myShiDou">我的食豆</a>  </li>
                <li> <a  href="@controllers.users.routes.UsersCommission.myAward">我的奖品</a>  </li>
                <li> <a  href="@controllers.users.routes.UsersCommission.invite">邀请有奖</a> </li>
            </ul>
        </div>
        <div class="main-content">
            <div class="bind">
                <ul class="bind-list clearfix">
                    <li>
                        <div class="bind-icon bind-sina"></div>
                        <div class="text" id="J_bindSina">
                            <span class="bname">新浪微博</span>

                            <div class="mt10 gc6">
                                已绑定帐号：
                                <span>食美特</span>[
                                <a class="relieve" data-snsname="1283431903" data-snstype="sina" href="javascript:;">解除绑定</a>]
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="bind-icon bind-qq"></div>
                        <div class="text">
                            <span class="bname">QQ</span>

                            <div class="mt10 gc6">
                                已绑定帐号：
                                <span>smeite</span>[
                                <a class="relieve" data-snsname="DE9267EE1F2B5B29909E1DB27F9DE4F8" data-snstype="qzone"
                                   href="javascript:;">解除绑定</a>]
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="bind-icon bind-taobao"></div>
                        <div class="text">
                            <span class="bname">淘宝网</span>

                            <div class="mt10 gc6">
                                <a href="">绑定帐号</a>
                                和好友分享你的发现。
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="bind-icon bind-tencent"></div>
                        <div class="text" id="J_bindTencent">
                            <span class="bname">腾讯微博</span>

                            <div class="mt10 gc6">
                                <a href="">绑定帐号</a>
                                和好友分享你的发现。
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="bind-icon bind-douban"></div>
                        <div class="text">
                            <span class="bname">豆瓣</span>

                            <div class="mt10 gc6">
                                <a href="">绑定帐号</a>
                                和好友分享你的发现。
                            </div>
                        </div>
                    </li>
                    <!--<li>
                        <div class="bind-icon bind-renren"></div>
                        <div class="text" id="J_bindRenren">
                            <span class="bname gc6">人人网</span>
                            <div class="mt10">
                                                                            <a href="/account/snsLogin?snsType=renren">绑定帐号</a>
                                    和好友分享你的发现。
                                                                    </div>
                        </div>
                    </li>-->
                    <li>
                        <div class="bind-icon bind-alipay"></div>
                        <div class="text">
                            <span class="bname">支付宝</span>

                            <div class="mt10 gc6">
                                <a href="">绑定帐号</a>
                                和好友分享你的发现。
                                <p class="mt5">绑定后可随机领取1-1000个集分宝</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

}{
<script type="text/javascript">
    seajs.use("app/init",function(init){
        init.load("app/user/user.bindAccount");
    });
</script>
}