@(manager:models.admin.Manager,form: Form[controllers.admin.TagFormData])
@views.html.admin.template(manager,"tag") {
    <div id="content-header">
        <h1>标签管理</h1>
    </div>
    <div id="breadcrumb">
        <a href="#" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a>
        <a href="#" class="current">标签组管理</a>
        <a href="#" class="current">编辑标签</a>
    </div>

    <div class="container-fluid">
    <div class="row-fluid">
    <div class="span12">
    <div class="widget-box">
    <div class="widget-title">
        <span class="icon">
            <i class="icon-pencil"></i>
        </span>
        <h5>编辑标签</h5>
    </div>
    <div class="widget-content nopadding">
        <form class=" form-horizontal" id="J_tagForm"  method="post" action="@controllers.admin.routes.Tags.saveTag">

            <input type="hidden" name="id" value='@form("id").value'>
            <input type="hidden" name="groupName" value='@form("groupName").value' id="groupName">
            @form.globalError.map { error =>
            <div class="error-row" style="display:block">
                <p class="error"> @error.message</p>
            </div>
            }
            <div class="control-group">
                <label class="control-label" for="name">名称</label>
                <div class="controls">
                    <input type="text" class="input-xlarge" id="name" name="name" value='@form("name").value' placeholder="主题组名称" required="required">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">主题分组</label>
                <div class="controls">
             <select name="cid" id="J_cid">
                 <option value=""  @if(form("cid").value.getOrElse("none")=="none"){ selected="true" } >所有分类</option>
            @for(cate<-models.Cate.values.toList.sortBy(x=>x.id)){
              <option value="@cate.id" @if(form("cid").value.getOrElse("none")==cate.id.toString){ selected="true" }>@cate</option>
            }
        </select>
               <select name="groupId" id="J_groupId">
                       <option value='@form("groupId").value'>@form("groupName").value</option>
               </select>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="hotIndex">Hot指数</label>
                <div class="controls">
                    <input type="text" class="input-xlarge" id="hotIndex" name="hotIndex" value='@form("hotIndex").value' placeholder="hot index" required="required">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="isTop">是否置顶</label>
                <div class="controls">
                    <input type="radio"  id="isTop" name="isTop" value="true" @if(form("isTop").value.getOrElse(" ")== "true"){ checked="true"}> 是 <input type="radio"   name="isTop" value="false" @if(form("isTop").value.getOrElse("") == "false"){ checked="true"} > 否
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="isHighlight">是否强调</label>
                <div class="controls">
                    <input type="radio"  id="isHighlight" name="isHighlight" value="true" @if(form("isHighlight").value.getOrElse(" ")== "true"){ checked="true"}> 是 <input type="radio"   name="isHighlight" value="false" @if(form("isHighlight").value.getOrElse("") == "false"){ checked="true"} > 否
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="sortNum">排序</label>
                <div class="controls">
                    <input type="text" class="input-xlarge" id="sortNum" name="sortNum" value='@form("sortNum").value' placeholder="sort num" required="required">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="checkState">审核状态</label>
                <div class="controls">
                    <input type="radio"  id="checkState" name="checkState" value="0" @if(form("checkState").value.getOrElse("-1")=="0"){ checked="true"}> 未审核
                    <input type="radio"   name="checkState" value="1" @if(form("checkState").value.getOrElse("-1")=="1" ){ checked="true"} > 通过
                    <input type="radio"   name="checkState" value="2" @if(form("checkState").value.getOrElse("-1") =="2" ){ checked="true"} > 不通过
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="seoTitle">SEO Title</label>
                <div class="controls">
                    <input type="text" class="input-xlarge" id="seoTitle" name="seoTitle" value='@form("seoTitle").value' placeholder="SEO Title" required="required">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="seoKeywords">SEO keywords</label>
                <div class="controls">
                    <input type="text" class="input-xlarge" id="seoKeywords" name="seoKeywords" value='@form("seoKeywords").value' placeholder="SEO keywords" required="required">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="seoKeywords">SEO description</label>
                <div class="controls">
                    <textarea rows="5" class="input-xlarge" id="seoDesc" name="seoDesc"  placeholder="SEO keywords" required="required">@form("seoDesc").value</textarea>

                </div>
            </div>

            <div class="control-group">
                <div class="controls">

                    <input type="submit" class="btn" value="保存"/>
                </div>
            </div>
        </form>


                  </div>
            </div>
        </div>
    </div>


</div>


<script type="text/javascript">
            $(function(){
                $("#J_cid").change(function(){
                  var cid =$(this).val()

if(cid ==""){
       $("#J_groupId").html(" ")
    }else{
    $.ajax({
    url:"/admin/tags/getSimpleGroups?cid="+cid,
    type:'get',
    dataType:'html',
    success:function(data){
    $("#J_groupId").html(data)
    }
    })
    }

    })






                $("#J_tagForm").submit(function(){
                  var name=  $("#J_groupId").find("option:selected").text();
                    $("#groupName").val(name)
                })
            })
       </script>

        }


