@(user:Option[models.user.User],page:models.Page[models.goods.Goods],cate:String,tag:String,tags:List[models.tag.Tag] )
@views.html.template(
user,
nav=cate,
title =  "发现喜欢_"+ cate +"_"+tag +"_食美特，爱美食爱生活"
)(css="/assets/css/template/faxian.css") {
<div class="container" id="find">
    <div class="tag-list clearfix" id="J_tags">
             <dl class="clearfix">
                 <dt class='title @if(cate=="好玩意"){fs30}else{fs40} '>
                     <a href='@controllers.routes.Pages.find(cate,"tag",1)'>@cate</a>
                 </dt>
                 <dd>
                     @for(t<-tags){
                     <a class='tag @if(t.name==tag){curr}' href="@controllers.routes.Pages.find(cate,t.name,1)">@t.name</a>
                     }

                 </dd>
             </dl>



    </div>

    <!--标签 组 end-->
    <!-- <div class="goods-title" id="J_GoodsTitle">
            <div class="sort fl ml15">
                <a class="on" href="" title="热门">热门</a>-
                <a href="" title="最新">最新</a>-
                <a href="" title="达人喜欢">达人喜欢</a>
            </div>

        </div>-->

  <div class="goods-wall s1024" id="J_GoodsWall">
    <div class="section">

        @for((goods,i)<-page.items.view.zipWithIndex) {

        <div class="goods small @if((i+1)%4==0){last} ">
            <div class="goods-pic">
                <a class="pic-link" href="@controllers.routes.Goods.view(goods.id.get)" title="@goods.name" target="_blank">
                    <img src='@(goods.pic+"_210x210.jpg")' width="210" height="210" title="@goods.name" alt="@goods.name" />
                </a>
                <a  class="ilike-m" href="javascript:;" data-proimgsrc="@goods.pic" data-prourl="@controllers.routes.Goods.view(goods.id.get)" data-proname="@goods.name" data-type="0" data-proid="@goods.id.get">
                    <i></i>
                    <span class="ilikeCount" data-val="@goods.loveNum">喜欢(@goods.loveNum)</span>
                </a>
            </div>
            <div class="goods-title ofh">
                @goods.name
            </div>
            <div class="goods-stat">
                <span class="mr10 like-count">@goods.loveNum</span>

                @if(goods.promotionPrice.isEmpty){
                <span>￥@goods.price</span>
                }else{
                @if(goods.price!=goods.promotionPrice.get){
                <span style="text-decoration: line-through">￥@goods.price</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span>￥@goods.promotionPrice</span>
                }else{  <span>￥@goods.price</span> }
                }
            </div>
            <p class="goods-des">
                @goods.intro
            </p>

        </div>

        }
    </div>

</div>

    <!--宝贝展示 end-->
     <div class="clear"></div>
    <div class="pt30 pb20 clearfix">
        <div class="pagin4faxian tac">
            <ul>
                @for(num <-page.nums){
                @if(num==page.currentPage){
                <li><span>第 @num 页</span></li>
                }else {
                <li><a href="@controllers.routes.Pages.find(cate,tag,num)">第@num 页</a></li>
                }
                }
            </ul>

            <span class="current">第 @page.currentPage 页</span>
            @if(page.currentPage != page.totalPages){
            <a title="翻翻下一页" href="@controllers.routes.Pages.find(cate,tag,page.currentPage+1)" class="next">翻翻下一页&gt;</a>
              }
        </div>
    </div>
    <!--翻页 end-->
</div>



}{
<script type="text/javascript">
    seajs.use('app/init', function (init) {
        init.load('app/goods/goods.faxian,app/goods/goods.favor');
    });
</script>
}