@(user:Option[models.user.User],page:models.Page[((Int,Long,String,String,Int,String,Option[String],String),List[(Option[Long],Option[String],Option[String],Option[String])])],cate:String,tag:String,tags:List[models.tag.Tag] )
@views.html.template(
user,
nav=cate,
title =  "发现喜欢_"+ cate +"_"+tag +"_食美特，爱美食爱特色"
)(css="/assets/css/template/find.css") {
<div class="container" id="find">
    <div class="tag-list clearfix" id="J_tags">
             <dl class="clearfix">
                 <dt class='title @if(cate=="好玩意"){fs30}else{fs40} '>
                     <a href='@controllers.routes.Pages.find(cate,"tag",1)'>@cate</a>
                 </dt>
                 <dd>
                     @for(t<-tags){
                     <a class='tag @if(t.name==tag){curr}' href="@controllers.routes.Pages.find(cate,t.name,1)">@t.name</a>
                     }

                 </dd>
             </dl>



    </div>

    <!--标签 组 end-->
    <!-- <div class="goods-title" id="J_GoodsTitle">
            <div class="sort fl ml15">
                <a class="on" href="" title="热门">热门</a>-
                <a href="" title="最新">最新</a>-
                <a href="" title="达人喜欢">达人喜欢</a>
            </div>

        </div>-->
  <div class="goods-wall s1024" id="J_GoodsWall">
    <div class="section">

        @for((((sortNum,goodsId,goodsName,goodsPic,goodsLoveNum,goodsPrice,goodsPromotionPrice,goodsIntro),comments),i)<-page.items.view.zipWithIndex) {

        <div class="goods small @if((i+1)%4==0){last} ">
            <div class="goods-pic">
                <a class="pic-link" href="@controllers.routes.Goods.view(goodsId)" title="@goodsName" target="_blank">
                    <img src="/assets/ui/blank.gif"  data-original='@(goodsPic+"_210x210.jpg")' width="210" height="210" title="@goodsName" alt="@goodsName" />
                </a>
                <a  class="ilike-m" href="javascript:;" data-proimgsrc="@goodsPic" data-prourl="@controllers.routes.Goods.view(goodsId)" data-proname="@goodsName" data-type="0" data-proid="@goodsId">
                    <i></i>
                    <span class="ilikeCount" data-val="@goodsLoveNum">喜欢(@goodsLoveNum)</span>
                </a>
            </div>
            <div class="goods-title ofh">
                @goodsName
            </div>
            <div class="goods-stat">
                <span class="mr10 like-count">@goodsLoveNum</span>
                &nbsp; &nbsp;&nbsp; @sortNum
                @if(goodsPromotionPrice.isEmpty){
                <span>￥@goodsPrice</span>
                }else{
                @if(goodsPrice!=goodsPromotionPrice.get){
                <span style="text-decoration: line-through">￥@goodsPrice</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span>￥@goodsPromotionPrice</span>
                }else{  <span>￥@goodsPrice</span> }
                }
            </div>
            <p class="goods-des">
                @goodsIntro
            </p>
            <div class="comment">

                @for(((uid,uname,upic,content),i)<-comments.view.zipWithIndex) {
                    @if(!uid.isEmpty){

                <div class="comment-item @if(i>0) {comment-item-more }">
                    <div class="user-pic">
                        <a class="a-img"  href="@controllers.users.routes.Users.home(uid.getOrElse(1))" title="@uname" target="_blank">
                            <img src="@upic" width="30" height="30" alt="@uname"/>
                        </a>
                    </div>
                    <div class="content">
                        <a class="user-name"  href="@controllers.users.routes.Users.home(uid.getOrElse(0))" title="@uname" target="_blank">@uname</a>
                        <span>@content</span>
                    </div>
                </div>
                }
            }
            </div>
        </div>

        }
    </div>

</div>

    <!--宝贝展示 end-->
     <div class="clear"></div>
    <div class="pt30 pb20 clearfix">
        <div class="pagin4faxian tac">
            <ul>
                @for(num <-page.nums){
                @if(num==page.currentPage){
                <li><span>第 @num 页</span></li>
                }else {
                <li><a href="@controllers.routes.Pages.find(cate,tag,num)">第@num 页</a></li>
                }
                }
            </ul>

            <span class="current">第 @page.currentPage 页</span>
            @if(page.currentPage != page.totalPages){
            <a title="翻翻下一页" href="@controllers.routes.Pages.find(cate,tag,page.currentPage+1)" class="next">翻翻下一页&gt;</a>
              }
        </div>
    </div>
    <!--翻页 end-->
</div>



}{
<script type="text/javascript">
    seajs.use('app/init', function (init) {
        init.load('app/goods/goods.find,app/goods/goods.favor');
    });
</script>
}