@(user:Option[models.user.User])
@views.html.template(
user,
nav="presell",
title =  "食美特，不一样的生活"
)(css="/assets/css/template/presell.css") {

<div class="container clearfix" id="presell">
    <div class="presell">
        <div class="top">
            <img src="/assets/img/ui/presell.jpg">
        </div>

        <div class="goods-list">
            <!--单个商品 start-->

            <div class="presell-item clearfix">
                <a href="/ugc/api/gotoTaobao/17430201068?goodsId=1282" target="_blank">
                    <img class="item-img" src="http://img04.taobaocdn.com/bao/uploaded/i4/19271021961947952/T1An4zXwdbXXXXXXXX_!!0-item_pic.jpg_310x310.jpg" alt="【爆款特卖】20年炒货经验 奶香壳杏仁巴旦木120g*2包 买2送礼物" width="300" height="300"></a>
                <div class="item-info">
                    <p class="timeDown cd-lite" endtime="2013/7/19 0:00">预售中：4天09 : 44 : 14</p>
                    <h2 class="item-title">
                        【爆款特卖】20年炒货经验 奶香壳杏仁巴旦木120g*2包

                    </h2>
                    <div class="item-desc">
                        <i class="quotation-marks"></i>
                        <a href="/ugc/api/gotoTaobao/17430201068?goodsId=1282" target="_blank" class="desc-txt">
                            奶香巴旦木,特价诱惑，买2件赠1包，也就是花34.56元可以获得5袋120克的特好吃巴旦木，记得跟客服说暗号：“食美特” 哦，平均每袋才7块1毛多，亲，还包邮哦，亲，还等什么！！！
                        </a>

                    </div>
                    <div class="item-buy clearfix">
                        <a href="/ugc/api/gotoTaobao/17430201068?goodsId=1282" class="item-buy-btn clearfix" target="_blank">



                            <span class="current-price"> ¥44.00</span>



                            <span class="go-to-buy">去抢购 &gt;</span>

                        </a>
                        <div class="others-wrap">
                            <span class="want-to-buy">有<i>269</i>人想买</span>
                            <a href="/ugc/api/gotoTaobao/17430201068?goodsId=1282" class="others-say" target="_blank">看看买过的人怎么说&gt;&gt;</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="presell-item clearfix">
                <a href="/ugc/api/gotoTaobao/15818285190?goodsId=1294" target="_blank">
                    <img class="item-img" src="http://img01.taobaocdn.com/bao/uploaded/i1/T1Kg6JXkNgXXc9wGIZ_031340.jpg_310x310.jpg" alt="百草味 袋泡茶 原装秘制大麦茶260g 约65小包 烘焙型" width="300" height="300"></a>
                <div class="item-info">
                    <h2 class="item-title">
                        百草味 袋泡茶 原装秘制大麦茶260g 约65小包 烘焙型

                    </h2>
                    <div class="item-desc">
                        <i class="quotation-marks"></i>
                        <a href="/ugc/api/gotoTaobao/15818285190?goodsId=1294" target="_blank" class="desc-txt">
                            百草味秘制大麦茶袋泡装隆重上市啦。独立一小包，更简便，更能满足你的健康需求。
                        </a>

                    </div>
                    <div class="item-buy clearfix">
                        <a href="/ugc/api/gotoTaobao/15818285190?goodsId=1294" class="item-buy-btn clearfix" target="_blank">



                            <span class="current-price"> ¥15.90 </span>
                            <span class="original-price"> ¥35.00 </span>




                            <span class="go-to-buy">去抢购 &gt;</span>

                        </a>
                        <div class="others-wrap">
                            <span class="want-to-buy">有<i>367</i>人想买</span>
                            <a href="/ugc/api/gotoTaobao/15818285190?goodsId=1294" class="others-say" target="_blank">看看买过的人怎么说&gt;&gt;</a>
                        </div>
                    </div>
                </div>
            </div>

            <!--单个商品 end-->

        </div>
    </div>





</div>

        }{
<script type="text/javascript">
    seajs.use(['smeite/baobei/baobei','smeite/baobei/favor'])
</script>
}