@(user:Option[models.user.User])
@views.html.template(
user,
nav="presell",
title =  "食美特，不一样的生活"
)(css="/assets/css/template/presell.css") {

<div class="container clearfix" id="presell">
    <div class="presell">
        <div class="top">
            <img src="/assets/img/ui/presell.jpg">
        </div>

        <div class="goods-list">
            <!--单个商品 start-->


            <!--单个商品 end-->

        </div>
    </div>





</div>

        }{
<script type="text/javascript">
    seajs.use(['smeite/baobei/baobei','smeite/baobei/favor'])
</script>
}