@(user:Option[models.user.User],goods:models.goods.Goods,firstShareUser:models.user.User,tags:List[models.tag.TagGoods])
@views.html.template(
user,
title =goods.name+"_食美特，爱美食爱生活",
description = goods.intro

)(css="/assets/css/template/goods.detail.css") {

<div class="container clearfix">

<!--main end-->
    <div class="product-main clearfix">

        <div class="main">
            <!-- pic show-->

                <div class="pic-box">
                    @if(user.isEmpty){
                    <a  rel="loginD2" data-numiid="@goods.numIid" data-goodsid="@goods.id.get" data-rate="@goods.rate"  target="_blank" rel="nofollow">
                        @for(img<-goods.itemPics.split("&")){
                        <img  src='@(img+"_460x460.jpg")' alt="@goods.name" width="460" />
                        }
                    </a>
                    }else{
                    <a class="pic-link"  href="@controllers.ugc.routes.API.gotoTaobao(goods.numIid,goods.id.get,goods.rate)" target="_blank"  rel="nofollow">

                        @for(img<-goods.itemPics.split("&")){
                        <img  src='@(img+"_460x460.jpg")' alt="@goods.name" width="460" />
                        }
                    </a>
                    }
                    <div class="like-common like-common-s">
                        <a  class="like" rel="followGoods" href="javascript:void(0)" data-proid="@goods.id.get" title="喜欢"><i>喜欢</i></a>
                        <div class="like-num">
                            <dl class="J_scrollUp">
                                <dd class="J_FavorNum" data-val="@goods.loveNum">@goods.loveNum</dd>
                                <dd>+1</dd>
                            </dl>
                        </div>
                    </div>

                    @if(user.isEmpty){
                    <a  rel="loginD2" data-numiid="@goods.numIid" data-goodsid="@goods.id.get" data-rate="@goods.rate"  target="_blank" rel="nofollow" class="bbl-btn pic-more">
                        查看更多图片&gt;&gt;
                    </a>
                    }else{
                    <a class="bbl-btn pic-more"  href="@controllers.ugc.routes.API.gotoTaobao(goods.numIid,goods.id.get,goods.rate)" target="_blank"  rel="nofollow">
                        查看更多图片&gt;&gt;
                    </a>
                    }

                </div>
            <!--pic show end-->

        </div>
        <!-- aside begin -->
        <div class="side">

            <div class="buy-info">
                <span class="arrow-left"></span>
            <h3 class="title"> @goods.name</h3>

                 <div class="user-recommend clearfix">
                     <div class="pic fl">
                         <a target="_blank" href="@controllers.users.routes.Users.home(firstShareUser.id.get)">
                             <img width="60" height="60" src="@firstShareUser.pic" alt="@firstShareUser.name" class="fl">
                         </a>
                     </div>
                     <div class="intro fl">
                         @if(goods.intro!=""){
                         @goods.intro
                         <span class="intro-quot"></span>
                         }
                     </div>
                 </div>

                 <dl class="buy-box  clearfix">
                         <dd class="tags clearfix">
                             <span class="label">标签：</span>
                                 @for(tag <-tags){
                                 <a href="">@tag.tagName</a>
                                 }

                         </dd>
                         @if(!goods.commissionRate.isEmpty && goods.commissionRate.get!=0){
                         @defining( if(goods.promotionPrice.isEmpty){ ((goods.price.toDouble*goods.commissionRate.get*goods.rate*0.0001).toInt) }else{ ((goods.promotionPrice.get.toDouble*goods.commissionRate.get*goods.rate*0.0001).toInt) } ){ credits=>
                         <dd>赠送:<span> @credits</span>&nbsp;个集分宝，奖励：<span>1</span>个食豆 </dd>
                         }
                         }
                         <dd class="go-to-buy">
                             <div class="price">

                                 @if(goods.promotionPrice.isEmpty){
                                 <span class="price-normal"> ¥@goods.price</span>
                                 }else{
                                 <span class="price-promotion"> ¥@goods.promotionPrice.get </span>
                                 <span class="price-normal"> ¥@goods.price </span>
                                 }
                             </div>
                         @if(user.isEmpty){
                         <a class="buy-btn" rel="loginD2" data-numiid="@goods.numIid" data-goodsid="@goods.id.get" data-rate="@goods.rate"  target="_blank" rel="nofollow">去看看 &gt;&gt; </a>
                          }else{
                          <a class="buy-btn"  href="@controllers.ugc.routes.API.gotoTaobao(goods.numIid,goods.id.get,goods.rate)" target="_blank" rel="nofollow">去看看 &gt;&gt; </a>
                          }
                         </dd>
                     <dd class="shareTips">

                         <a rel="nofollow" class="info-wrong" href="javascript:;" id="J_JiuCuo" data-proid="488">信息有误？</a>
                         <div class="share-link" data-sharetxt="@goods.name" data-sharepic="@goods.pic" data-sharelink="@controllers.routes.Goods.view(goods.id.get)">
                             <label class="fl l20 gc">分享到：</label>
                             <a class="s-sina fl" href="javascript:;" data-type="s-sina" alt="分享到新浪微博"></a>
                             <a class="s-qzone fl" href="javascript:;" data-type="s-qzone" alt="分享到QQ空间"></a>
                             <a class="s-tencent fl" href="javascript:;" data-type="s-tencent" alt="分享到腾讯微博"></a>
                             <a class="s-douban fl" href="javascript:;" data-type="s-douban" alt="分享到豆瓣"></a>
                             <a class="s-renren fl" href="javascript:;"  data-type="s-renren" alt="分享到人人网"></a>

                         </div>
                     </dd>
                 </dl>


             </div>
            <!-- first share end  -->
               <div class="comment-list">
                        <div class="comment-publish clearfix">
                            <div class="pub-box clearfix">
                                <input type="hidden" id="J_productId" name="goodsId" value="@goods.id.get">
                                <div class="user-pic">
                                    @if(user.isEmpty){
                                    <img src="/images/user/default.jpg" alt="食美特" width="80" height="80" />
                                    }else{
                                    <img src="@user.get.pic" alt="@user.get.name" width="80" height="80" />
                                    }
                                </div>
                                <div class="cmt-doc">
                                    <div class="fm clearfix">
                                        <textarea class="b-textarea cmt-txa atsug" name="commentContent" id="J_CommentTxa" placeholder="你觉得这个宝贝怎么样？"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div id="J_CmtHiddenForm">
                                <div class="select clearfix">
                                    <h4>鉴定：</h4>
                                    <div class="appraisal fl">
                                        <a href="javascript:;" class="jd-radio worth-radioclick-off mr10" name="worth" data-type="1"><span>值得</span></a>
                                        <a href="javascript:;" class="jd-radio worth-radioclick-off mr10" name="worth" data-type="0"><span>不值得</span></a>
                                    </div>
                                    <div class="bought-ck">
                                        <label class="bought" for="J_Bought1"><input type="checkbox" id="J_Bought1" name="bought">我买过</label>
                                    </div>
                                </div>
                                <div class="detail-commentTags-row">
                                    <h4>标签：</h4>
                                    <input placeholder="多标签用逗号隔开" class="b-input" type="input" name="commentTags" id="J_CommentTagsDetail">
                                </div>
                                <div class="detail-usedTags-row">
                                    <ul class="clearfix">
                                        @for(tag <-tags){
                                        <li>@tag.tagName</li>
                                        }
                                    </ul>
                                </div>
                                <div class="submit-row">
                                    <input type="submit" class="bbl-btn pub" id="J_PublishBtn" value="发布"><span class="ml10"><a id="J_HiddenForm" href="javascript:;" class="gc">取消</a></span>

                                </div>
                            </div>
                        </div>



                        <div class="comment" id="J_comment">

                        </div>
                        <!--comment end-->

                    </div>
             <!--comment-list end-->
        </div>
        <!-- aside end -->

    </div>
<!--<div id="product-like">
    <h3>猜你喜欢</h3>
    <div class="goods-wall">



    </div>

</div>-->
</div><!--container end-->



        }{
<script type="text/javascript">

    seajs.use('app/init', function(init) {
        init.load('app/goods/goods.detail,app/goods/goods.favor.new');
    })
</script>
}