@(user:Option[models.user.User],goods:models.goods.Goods,firstShareUser:models.user.User,tags:List[models.tag.TagGoods])
@views.html.template(
user,
title =goods.name+"_食美特，爱美食爱特色",
description = goods.intro

)(css="/assets/css/template/goods.detail.css") {

<div class="container clearfix">

<!--main end-->
    <div class="product-main clearfix">

        <div class="main">
            <!-- pic show-->
            <div class="gallery">
                <div class="pic-box">
                    <a class="pic-link"  href="@controllers.ugc.routes.API.convertProduct(goods.numIid)" target="_blank"  rel="nofollow">
                        <img id="J_PicCover" src="@goods.pic" alt="@goods.name" />
                    </a>

                    <a rel="nofollow" class="ilike-m" href="javascript:;" data-type="0" data-proimgsrc="@goods.pic" data-proid="@goods.id" title="喜欢 +1">
                        <i></i>
                        <span id="J_LikeCount" class="ilikeCount" data-val="@goods.loveNum">喜欢(@goods.loveNum)</span>
                    </a>
                </div>
                <div class="thumb clearfix" >
                    <a rel="nofollow" class="thumb-nav-prev" href="javascript:;" title="上一组" ></a>
                    <div class="thumb-list scrollable">
                        <div class="items">
                            <ul class="clearfix">

                                @for(img<-goods.itemPics.split("&")){
                                <li >
                                    <a href="javascript:void(0)"><img data-src="@img" src='@(img+"_80x80.jpg")' alt="@goods.name" /></a>
                                </li>
                                }

                            </ul>
                        </div>
                    </div>
                    <a rel="nofollow" class="thumb-nav-next" href="javascript:;" title="下一组" ></a>
                </div>
            </div>
            <!--pic show end-->



        </div>
        <!-- aside begin -->
        <div class="side">



             <div class="buy-info">
                 <div class="buy-box">
                     <div class="clearfix" id="J_BuyBox">
                         <h3 class="title"> @goods.name</h3>
                         <div class="intro"><p>@goods.intro</p></div>


                         <div class="buy-btn clearfix">
                             <a class="op-btn clearfix" href="@controllers.ugc.routes.API.convertProduct(goods.numIid)" target="_blank" rel="nofollow">

                              <!--   @if(goods.promotionPrice.isEmpty){
                                 <span class="current-price"> ¥@goods.price</span>
                                 }else{
                                 @if(goods.price!=goods.promotionPrice.get){
                                 <span class="current-price"> ¥@goods.promotionPrice.get </span>
                                 <span class="original-price"> ¥@goods.price </span>

                                 }else{
                                 <span class="current-price"> ¥@goods.price</span>
                                 }
                                 }-->
                                 <span class="have-look">去看看 &gt;</span>
                             </a>
                          </div>



                     </div>

                 </div>
                 <div class="operate">
                     <div class="clearfix">
                         <a rel="nofollow" class="info-wrong" href="javascript:;" id="J_JiuCuo" data-proid="488">信息有误？</a>
                         <div class="share fr">
                             <span class="fl gc6">&nbsp;&nbsp;&nbsp;&nbsp;分享：</span>
                             <a  class="s-sina" href="javascript:void((function(){var title=encodeURIComponent('在食美特发现这个宝贝，很喜欢，分享给大家 : @goods.name ');var link='@controllers.routes.Goods.view(goods.id.get)';var pic='@goods.pic';window.open('http://service.t.sina.com.cn/share/share.php?appkey=1464940004&title='+title+'&pic='+pic+'&url='+link);})())" alt="分享到新浪微博" title="分享到新浪微博"></a>
                             <a  class="s-qzone" href="javascript:void((function(){var title=encodeURIComponent('在食美特发现这个宝贝，很喜欢，分享给大家 : @goods.name ');var link='@controllers.routes.Goods.view(goods.id.get)';window.open('http://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?url='+link);})())" alt="分享到QQ空间" title="分享到QQ空间"></a>
                             <a  class="s-tencent" href="javascript:void((function(){var title=encodeURIComponent('在食美特发现这个宝贝，很喜欢，分享给大家 : @goods.name ');var link='@controllers.routes.Goods.view(goods.id.get)';var pic='@goods.pic';window.open('http://v.t.qq.com/share/share.php?appkey=100344510&url='+link+'&title='+title+'&pic='+pic+'&site='+link);})())" alt="分享到腾讯微博" title="分享到腾讯微博"></a>
                             <a  class="s-douban" href="javascript:void((function(){var title=encodeURIComponent('在食美特发现这个宝贝，很喜欢，分享给大家 : @goods.name ');var link='@controllers.routes.Goods.view(goods.id.get)';window.open('http://www.douban.com/recommend/?url='+link+'&title='+title);})())" alt="分享到豆瓣" title="分享到豆瓣"></a>
                             <a  class="s-renren" href="javascript:void((function(){var title=encodeURIComponent('在食美特发现这个宝贝，很喜欢，分享给大家 : @goods.name ');var link='@controllers.routes.Goods.view(goods.id.get)';window.open('http://share.renren.com/share/buttonshare.do?link='+link+'&title='+title);})())" alt="分享到人人网" title="分享到人人网"></a>
                             <a  class="s-163" href="javascript:void((function(){var title=encodeURIComponent('在食美特发现这个宝贝，很喜欢，分享给大家 : @goods.name ');var link='@controllers.routes.Goods.view(goods.id.get)';var pic='@goods.pic';window.open('http://t.163.com/article/user/checkLogin.do?link='+link+'&source=食美特&info='+title+link+'&images='+pic+'&togImg=true');})());" alt="分享到网易微博" title="分享到网易微博"></a>
                         </div>
                     </div>
                 </div>
             </div>

            <div class="first_share">
                <h2 class="title">第一个分享的达人</h2>
                <div class="share_user_info clearfix">
                    <div class="pic fl">
                        <a target="_blank" href="@controllers.users.routes.Users.home(firstShareUser.id.get)">
                            <img width="80" height="80" src="@firstShareUser.pic" alt="@firstShareUser.name" class="icard avt fl r3">
                        </a>
                    </div>
                    <div class="content">
                        <a target="_blank" href="@controllers.users.routes.Users.home(firstShareUser.id.get)" class="icard avt uname">@firstShareUser.name</a>

                        <span class="get_fav">拥有@firstShareUser.postBaobeiNum个宝贝，获得@firstShareUser.shiDou个食豆</span>

                      <p class="share_content">TA很懒，还没有介绍自己哦</p>
                        <p class="come_from">来自 @models.user.ComeFrom(firstShareUser.comeFrom)</p>
                    </div>
                </div>
            </div>
            <!-- first share end  -->



                    <div class="comment-list">
                        <div class="comment-publish clearfix">
                            <div class="pub-box clearfix">
                                <input type="hidden" id="J_productId" name="goodsId" value="@goods.id.get">
                                <div class="user-pic">
                                    @if(user.isEmpty){
                                    <img src="/images/user/default.jpg" alt="食美特" width="80" height="80" />
                                    }else{
                                    <img src="@user.get.pic" alt="@user.get.name" width="80" height="80" />
                                    }
                                </div>
                                <div class="cmt-doc">
                                    <div class="fm clearfix">
                                        <textarea class="b-textarea cmt-txa atsug" name="commentContent" id="J_CommentTxa" placeholder="你觉得这个宝贝怎么样？"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div id="J_CmtHiddenForm">
                                <div class="select clearfix">
                                    <h4>鉴定：</h4>
                                    <div class="appraisal fl">
                                        <a href="javascript:;" class="jd-radio worth-radioclick-off mr10" name="worth" data-type="1"><span>值得</span></a>
                                        <a href="javascript:;" class="jd-radio worth-radioclick-off mr10" name="worth" data-type="0"><span>不值得</span></a>
                                    </div>
                                    <div class="bought-ck">
                                        <label class="bought" for="J_Bought1"><input type="checkbox" id="J_Bought1" name="bought">我买过</label>
                                    </div>
                                </div>
                                <div class="detail-commentTags-row">
                                    <h4>标签：</h4>
                                    <input placeholder="多标签用逗号隔开" class="b-input" type="input" name="commentTags" id="J_CommentTagsDetail">
                                </div>
                                <div class="detail-usedTags-row">
                                    <ul class="clearfix">
                                        @for(tag <-tags){
                                        <li>@tag.tagName</li>
                                        }
                                    </ul>
                                </div>
                                <div class="submit-row">
                                    <input type="submit" class="bbl-btn pub" id="J_PublishBtn" value="发布"><span class="ml10"><a id="J_HiddenForm" href="javascript:;" class="gc">取消</a></span>

                                </div>
                            </div>
                        </div>



                        <div class="comment" id="J_comment">

                        </div>
                        <!--comment end-->

                    </div>
                    <!--comment-list end-->


        </div>
        <!-- aside end -->

    </div>
<div id="product-like">
    <h3>猜你喜欢</h3>
    <div class="goods-wall">



    </div>
  <!--  <div class="morefind">
        <a href="http://smeite.com/find" title="发现喜欢" target="_blank">
            <img src="/assets/ui/detail-more.png" title="发现喜欢" alt="发现喜欢"/>
        </a>
    </div>-->
</div>
</div><!--container end-->



        }{
<script type="text/javascript">
    seajs.use('app/init', function(init) {
        init.load('app/goods/goods.detail,app/goods/goods.favor');
    })
</script>
}