@(manager:models.admin.Manager,list:List[models.advert.AdvertPosition])
@views.html.admin.template(manager,"channel") {

    <div id="content-header">
        <h1>频道管理</h1>
    </div>
    <div id="breadcrumb">
        <a href="#" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a>
        <a href="#" class="current">频道管理</a>
    </div>

    <div class="container-fluid">
        <div class="row-fluid">
            <div class="well">

                <table class="table table-bordered table-striped with-check">
                    <thead>
                        <tr>

                    <th>ID</th>

                    <th>位置</th>
                    <th>名称</th>
                    <th>编码*</th>
                    <th>广告类型</th>
                    <th>添加时间</th>
                    <th style="width: 60px;">操作</th>
                </tr>
                </thead>
                <tbody>
                 @for( item<- list){
                 <tr id="@item.id.get">

                     <td>@item.id</td>
                     <td>@item.position</td>
                     <td>@item.name</td>
                     <td>@item.code</td>
                     <td>@models.advert.AdvertType(item.advertType)</td>
                     <td>@item.addTime</td>
                     <td>
                         <a href="@controllers.admin.routes.Adverts.list(item.code,item.advertType)"><i class="icon-th-list"></i></a>

                     </td>
                 </tr>
                 }

                </tbody>
            </table>
        </div>


    </div>
</div>



        }


