@(manager:models.admin.Manager,form: Form[(Long,Option[String],Option[String],Option[String],Option[String])],msg:String ="")
@views.html.admin.template(manager,"channel") {
    <div id="content-header">
        <h1>频道管理</h1>
    </div>
    <div id="breadcrumb">
        <a href="#" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a>
        <a href="#" class="current">文字广告管理</a>
        <a href="#" class="current">修改文字广告</a>
    </div>

    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
                    <div class="widget-title">
                        <span class="icon">
                            <i class="icon-pencil"></i>
                        </span>
                        <h5>编辑标签组</h5>
                    </div>
                    <div class="widget-content nopadding">
                        @if(msg!=""){
                            <div class="alert">@msg</div>
                        }
        <form class=" form-horizontal" id="myForm"  method="post" enctype="multipart/form-data" action="@controllers.admin.routes.Adverts.textSave">

            <input type="hidden" name="id" value='@form("id").value'>

            @form.globalError.map { error =>
            <div class="error-row" style="display:block">
                <p class="error"> @error.message</p>
            </div>
            }

            <div class="control-group">
                <label class="control-label" for="title">广告名称*</label>
                <div class="controls">
                    <input type="text" class="input-xlarge" id="title" name="title" value='@form("title").value' placeholder="主题组名称" required="required">
                </div>
            </div>



            <div class="control-group">
                <label class="control-label" for="link">广告网址</label>
                <div class="controls">
                    <input type="url" class="input-xlarge" id="link" name="link" value='@form("link").value'placeholder="http://"  >
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">广告内容</label>
                <div class="controls">
                    <textarea style="width:800px;height:500px;"   class="input-xlarge" id="xheditor" name="content"> @Html(form("content").value.getOrElse("todo"))</textarea>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="note">备注说明</label>
                <div class="controls">
                    <textarea class="input-xlarge" id="note" name="note"> @form("note").value</textarea>
                </div>
            </div>

            <div class="control-group">
                <div class="controls">

                    <input type="submit" class="btn" value="保存"/>
                </div>
            </div>
        </form>


    </div>
</div>
</div>
</div>


</div>

       <script type="text/javascript">
            $(function(){

            $('#xheditor').xheditor({
                tools:'Fontface,FontSize,Bold,Link,Unlink,|,Source,Preview'

                    }

            );

                $("#picUpload").uploadify({
                    'fileObjName' : 'fileData',
                    'multi'    : false,
                    'swf'         : '/admin/assets/lib/uploadify/uploadify.swf',
                    'uploader'    : '/ajaxImage',
                    'onUploadSuccess' : function(file, data, response) {
                        var obj = JSON && JSON.parse(data) || $.parseJSON(data)
                        var src =obj.src;
                      $("#picShow").attr("src",src)
                      $("#pic").val(src)
                    }
                });
                $("#spicUpload").uploadify({
                    'fileObjName' : 'fileData',
                    'multi'    : false,
                    'swf'         : '/admin/assets/lib/uploadify/uploadify.swf',
                    'uploader'    : '/ajaxImage',
                    'onUploadSuccess' : function(file, data, response) {
                        var obj = JSON && JSON.parse(data) || $.parseJSON(data)
                        var src =obj.src;
                        alert(src)
                        $("#spicShow").attr("src",src)
                        $("#spic").val(src)
                    }
                });
            })



</script>

        }


