@(user:Option[models.user.User]=None,nav:String = "",subNav:String = "",title: String = "食美特，爱美食爱生活",keywords:String = "食美特,美食,特产,食材,礼物,居家,导购,smeite,坚果,巧克力,zakka,简约,菜谱,私房菜,小镇",description:String = "Smeite.com致力于发现绿色安全、健康美味的食品，推荐美观实用、简约实惠的家居用品以及充满创意的好玩意。我们严格把控商品的品质，用心创造一个值得信赖的购物分享社区。我们所做的一切，就是通过我们的努力，为更多的消费者提供更有效、更有价值的购物决策建议")(css:String)(content: Html)(js:Html)
<!doctype html>
<html>
<head>
    <title>@title</title>
    <meta property="wb:webmaster" content="59dcb1f27fb8d6af" />
	<meta property="qc:admins" content="10213762651456375" />
    <meta charset="utf-8"/>
    <meta name="keywords" content=@keywords>
    <meta name="description" content=@description>
    <link rel="shortcut icon" type="image/png" href="/assets/favicon.png">
    <link rel="stylesheet" href="/assets/css/global/global.css?v=2013082601">
    <link rel="stylesheet" href="@css?v=2013082601">
</head>
<body id="J_Page">


<div id="page">
    <div id="top">
    <div id="header" class="header">
        <div class="container clearfix">
            <div class="hd-left">
                <a href="/" class="logo">
                    <span class="logo-img"> <img src="/assets/img/ui/logo2.png"></span>
                </a>

            </div>
            <div class="hd-right">

                <div class="search" id="search">
                    <form action="/search" method="get">
                        <input class="search-input-keyword" type="text" id="J_keyword" value="请输入您想要搜索关键词" name="item">
                        <button class="header-search-button" type="submit">搜索</button>
                    </form>

                </div>

                </div>
        </div>


    </div>
    <!--- header  end --->
    <div id="nav" class="nav">
        <div class="container pos-r">
            <!--频道-->
            <ul class="channel clearfix">
                <li class=' @("on".when(nav == "index")) '><a href="/">首页</a></li>
                <li><span>-</span></li>
                <li class='@("on".when(nav == "美食"))'><a href='@controllers.routes.Pages.faxian(0,0,1,1)'>美食</a></li>
                <li class='@("on".when(nav == "食材"))'><a href='@controllers.routes.Pages.faxian(1,0,1,1)'>食材</a></li>
                <li  class='@("on".when(nav == "居家"))'><a href='@controllers.routes.Pages.faxian(2,0,1,1)'>居家</a></li>


                <li><span>-</span></li>
                <li class='presell @("on".when(nav == "presell"))  '><a href="/presell">鲜生活</a></li>
                <!--<li class='worth @("on".when(nav == "worth"))  '><a href="/worth">今天值得买</a></li>-->
                <li><span>-</span></li>
                <li class='@("on".when(nav == "forum"))'>  <a href="/forum" >讨论吧</a> </li>
                <li><span>-</span></li>
                <li class='@("on".when(nav == "themes"))'>  <a href="/themes" >主题</a> </li>
                <li><span>-</span></li>
               <li class='@("on".when(nav == "cookbook"))'><a href="/cookbook" >私房菜</a></li>
                <li class='@("on".when(nav == "site"))'><a href="/sites" >小镇</a></li>
                
            </ul>
            <!-- 签到 -->
                <a class="btn-checkIn fr" href="javascript:;" rel="checkIn">签到</a>

            <!--分享宝贝-->
            <div class="shareIt fr">
                <a  class="btn-sg btn-rebate" href="javascript:;">分享好东西</a>
                <ul class="dropdown shareit-dropdown" >
                    <li class="sg-li"><a rel="shareGoods" href="javascript:;" class="hd-share-goods">发布宝贝</a></li>
                    <li><a href="@controllers.routes.Themes.edit(0)" rel="createTheme" class="hd-create-topic">创作主题</a></li>
                </ul>
            </div>


            @if(user.isEmpty){
            <div  class="regLogin fr clearfix">
                <a rel="loginD" href="javascript:;">登录</a><span class="vline5">-</span><a href="/user/regist">注册</a>
                <span class="vline5">-</span>

            </div>
            }else{
                <div class="xiaoxi-box fr clearfix">
                    <a rel="xiaoxi" class="xiaoxi fl" href="javascript:;">消息<span class="arrow-dn"></span></a>
                    <ul class="dropdown xiaoxi-dropdown" >
                        <li><a href="@controllers.users.routes.UsersMsg.at">查看@@我的</a></li>
                        <li><a href="@controllers.users.routes.UsersMsg.love">查看喜欢我的</a></li>
                        <li><a href="@controllers.users.routes.UsersMsg.comment">查看回复我的</a></li>
                        <li class="last"><a href="@controllers.users.routes.UsersMsg.system(1)">查看通知</a></li>
                    </ul>
                </div>
                <div class="person fr clearfix">
                    <a class="gohome" href="@controllers.users.routes.Users.home(user.get.id.get)">
			<span class="userPhoto">
					<img src="@user.get.pic" alt="@user.get.name">
						</span>@user.get.name<span class="arrow-dn"></span></a>
                    <ul class="dropdown set-dropdown" >
                        <li><a href="@controllers.users.routes.Users.home(user.get.id.get)">我的主页</a></li>
                        <li><a href="@controllers.users.routes.UsersAccount.base">帐号设置</a></li>
                        <li><a href="@controllers.users.routes.UsersAccount.myShiDou(1)"><span class="rc">我的食豆</span></a></li>
                        <li class="last"><a href="@controllers.users.routes.UsersRegLogin.logout">退出</a></li>
                    </ul>
                </div>
            }




            </div>
    </div>
    <!-- nav end --->
    </div>
    <div id="content">
        @content

    </div>

  <div class="clear"></div>
    <div id="footer">

        <div class="footer-inner">
            <div class="global-footer">
                <div class="global-footer-inner">

                    <div class="footer-nav clearfix">
                        <dl class="about">
                            <dt>关于我们</dt>
                            <dd><a href="@controllers.routes.Infos.aboutUs" target="_blank">关于我们</a></dd>
                            <dd><a href="@controllers.routes.Infos.contactUs" target="_blank">合作联系</a></dd>
                            <dd><a href="@controllers.routes.Infos.siteMap" target="_blank">网站地图</a></dd>

                        </dl>
                        <dl class="followus">
                            <dt>关注我们</dt>
                            <dd><a class="f-Qzone" href="http://user.qzone.qq.com/1469909930"  target="_blank">QQ空间</a></dd>
                            <dd><a class="f-sina" href="http://weibo.com/smeite"  target="_blank">新浪微博</a></dd>
                            <dd><a  class="f-tencent" href="http://t.qq.com/smeitecom"  target="_blank">腾讯微博</a></dd>

                        </dl>
                        <dl class="how">
                            <dt>爱上食美特</dt>
                            <dd><a href="/themes" target="_blank">爱上美食</a></dd>
                            <dd><a href="/sites" target="_blank">爱上生活</a></dd>
                            <dd><a href="/cookbook" target="_blank">爱上私房菜</a></dd>
                        </dl>
                        <dl class="service">
                            <dt>服务支持<span>（8:30-23:00,创业伤不起啊）</span></dt>
                            <dd>QQ客服：<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=1469909930&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:1469909930:51" alt="食美特" title="食美特"/></a></dd>
                            <dd>QQ群：<a target="_blank" href="http://wp.qq.com/wpa/qunwpa?idkey=d59eb043ea34fb5077312bd87e71ef5840dc6134951ac64d533dbd2659348e1b"><img border="0" src="http://pub.idqqimg.com/wpa/images/group.png" alt="食美特" title="食美特"></a></dd>
                            <dd>阿里旺旺：<a target="_blank" href="http://amos.alicdn.com/msg.aw?v=2&uid=zuosanshao&site=cntaobao&s=1&charset=utf-8" ><img border="0" src="http://amos.alicdn.com/online.aw?v=2&uid=zuosanshao&site=cntaobao&s=1&charset=utf-8" alt="欢迎骚扰哦" /></a></dd>
                        </dl>
                    </div>

                    <div class="footer-erweima">
                        <p>扫微信二维码,每天有奖问答</p>

                    </div>
                </div>
            </div>

            <div class="global-friend-links">
                <div class="friend-links-inner clearfix">
                    <h4 class="friend-links-tit">友情链接：</h4>
                        <div class="friend-links-item">

                            <a href="http://s.click.taobao.com/t_9?p=mm_32611004_0_0&l=http%3A%2F%2Fwww.tmall.com" target="_blank">天猫商城</a>
                            <a href="http://s.click.taobao.com/t?e=zGU34CA7K%2BPkqB05%2Bm7rfGGjlY60oHcc7bkKOQifpt7KnkOYiFRC9aUtxO8SMBwBvLiDOzgTrN%2FtWL2PVKVmGF2V03YJrGxUBtYoGeQhoi%2FdEf37o%2BhUOWOOccDxVaJiTj98yToL%2Fuo5Inz977jBBNZNew0A3uvW0OzbVodnYOgZlbYNDaV5tUdjmLVt2vVe8WQk41TXUpBH" target="_blank">天猫美食</a>
                            <!--    <a href="/friends" target="_blank">更多&gt;&gt;</a>-->

                        </div>
                </div>
            </div>

            <p class="cp">Copyright ©2012-2013 smeite.com, All Rights Reserved. <a href="http://www.miitbeian.gov.cn/">浙ICP备13018996号</a></p>
        </div>

    <a id="returnTop" href="javascript:;">回到顶部</a>
</div>
@if(user.isEmpty){
<script type="text/javascript">
    var photo = "";
    if(photo == ""){
        photo = "/images/user/default.jpg";
    }else{
        photo =photo;
    }
    SMEITER = {
        userId:"",
        userPhoto:photo,
        nick:"",
        status:"",
        isBlack: "",
        level : ""
    }
</script>
} else {
<script type="text/javascript">
    var photo = "@user.get.pic";
    if(photo == ""){
        photo = "/images/user/default.jpg";
    }else{
        photo = photo;
    }
    SMEITER = {
        userId:"@user.get.id",
        userPhoto:photo,
        nick:"@user.get.name",
        status:"@user.get.status",
        isBlack: '@if(user.get.status==4){true} else {false}'
    }

</script>

}

<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
<script src="/assets/js/html5.js" type="text/javascript"></script>
<![endif]-->
    <script type="text/javascript" src="/assets/js/sea-modules/seajs/seajs/2.1.1/sea.js"></script>
<script type="text/javascript" src="/assets/js/sea-modules/seajs/seajs-style/1.0.0/seajs-style.js"></script>

<script type="text/javascript" src="/assets/js/sea-modules/seajs-config.js"></script>
@js

<div class="baidu">

    <script type="text/javascript">
        var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
        document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F6cba5098cc3632d97fa135fcba29a93e' type='text/javascript'%3E%3C/script%3E"));
    </script>
</div>

 </div>
</body>
</html>

