@(user:Option[models.user.User])
@views.html.template(
user,
nav="site",
title =  "食美特，不一样的生活"
)(css="/assets/css/template/site.edit.css") {

<div class="container clearfix" id="china">
    <div class="site-edit clearfix">
        <h2>申请小站</h2>
        <div  >
            <form id="J_TopicEditFm" class="edit-form" method="post" action="@controllers.routes.Themes.save">
                <input type="hidden" name="id" value=''>
                <input type="hidden" name="cid" id="J_cid" value=''>

                <div class="form-row clearfix">
                    <label><span class="rc">*</span>标题：</label>
                    <div class="fm-item">
                        <input id="J_TopicTitle" name="name" class="b-input" type="text" value='' required="required">
                        <p>还可以输入<em id="J_TitleNum"></em>字</p>
                    </div>
                </div>

                <div class="form-row clearfix">
                    <label>分类：</label>
                    <div class="fm-item">

                            @for(c<-models.site.PostCate.values.toList.sortBy(x=>x.id)){
                            <a href="javascript:void(0)" class="type" data-id="@c.id">@c</a>
                            }
                         <div>
                           <dl>
                             <dt>
                                 <label>工艺：</label>
                             </dt>
                             <dd>
                                 <select>
                                     <option>dddddd</option>
                                 </select>
                             </dd>
                         </dl>
                             <dl>
                                 <dt>
                                     <label>难度：</label>
                                 </dt>
                                 <dd>
                                     <select>
                                         <option>dddddd</option>
                                     </select>
                                 </dd>
                             </dl>
                             <dl>
                                 <dt>
                                     <label>工艺：</label>
                                 </dt>
                                 <dd>
                                     <select>
                                         <option>dddddd</option>
                                     </select>
                                 </dd>
                             </dl>
                         </div>
                        <p>选择相应的分类，让大家更容易找到你的小站</p>

                    </div>
                </div>

                <div class="form-row clearfix">
                    <label>上传主图：</label>
                    <div class="fm-item">
                        <input type="button" value="上传本地图片" class="bbl-btn upload-cover">
                        <input type="file" class="upload-btn" id="J_LocalImgFormSubmit" name="filedata">
                        <p  class="fl">支持GIF、JPG、PNG,大小不超过2M</p>
                    </div>
                </div>

                <div class="form-row clearfix">
                    <label>标签：</label>
                    <div class="fm-item">
                        <input type="text" class="b-input" name="tags" id="J_TopicTags"  value=''>
                        <p>多个标签用逗号隔开</p>
                    </div>
                </div>

                <div class="form-row">
                    <label>&nbsp;</label>
                    <input type="submit" class="bbl-btn submit" value="提交申请">
                </div>
            </form>
        </div>
    </div>


</div>

        }{
<script type="text/javascript">
    seajs.use('app/init', function (init) {
        init.load("app/site/site.edit");
    });
</script>
}