@(user:Option[models.user.User])
@views.html.template(
user,
nav="site",
title =  "食美特，不一样的生活"
)(css="/assets/css/template/siteEdit.css") {

<div class="container clearfix" id="post">
    <div class="site-edit clearfix">
        <h2>申请小镇</h2>
        <div  >
            <form id="J_TopicEditFm" class="edit-form" method="post" action="@controllers.routes.Themes.save">
                <input type="hidden" name="id" value=''>
                <input type="hidden" name="cid" id="J_cid" value=''>
                <input type="hidden" name="pic" id="J_uploadImg">
                <div class="form-row clearfix">
                    <label><span class="rc">*</span>标题：</label>
                    <div class="fm-item">
                        <input id="J_TopicTitle" name="name" class="b-input big" type="text" value='' required="required">
                        <p>还可以输入<em id="J_TitleNum"></em>字</p>
                    </div>
                </div>

                <div class="form-row clearfix">
                    <label>分类：</label>
                    <div class="fm-item">


                            <a href="javascript:void(0)" class="type" data-id="0" data-type="sifangcai">私房菜</a>
                            <a href="javascript:void(0)" class="type" data-id="0">其他</a>
                         <div class="sub-item clearfix">
                           <dl>
                             <dt>
                                 <label>工艺：</label>
                             </dt>
                             <dd>
                                 <select>
                                     @for(c<-models.site.CookWay.values.toList.sortBy(x=>x.id)){
                                     <option value="@c.id">@c</option>
                                     }
                                 </select>
                             </dd>
                         </dl>
                             <dl>
                                 <dt>
                                     <label>口味：</label>
                                 </dt>
                                 <dd>
                                     <select>
                                         @for(c<-models.site.CookTaste.values.toList.sortBy(x=>x.id)){
                                         <option value="@c.id">@c</option>
                                         }
                                     </select>
                                 </dd>
                             </dl>
                            <dl>
                                 <dt>
                                     <label>难度：</label>
                                 </dt>
                                 <dd>
                                     <select>
                                         @for(c<-models.site.CookGrade.values.toList.sortBy(x=>x.id)){
                                         <option value="@c.id">@c</option>
                                         }
                                     </select>
                                 </dd>
                             </dl>

                             <dl>
                                 <dt>
                                     <label>原料：</label>
                                 </dt>
                                 <dd>
                                         <input  name="name" class="b-input" type="text" value='' required="required">
                                 </dd>
                             </dl>
                             <dl>
                                 <dt>
                                     <label>辅料：</label>
                                 </dt>
                                 <dd>
                                     <input  name="name" class="b-input" type="text" value='' required="required">
                                 </dd>
                             </dl>
                             <dl>
                                 <dt>
                                     <label>配料：</label>
                                 </dt>
                                 <dd>
                                     <input  name="name" class="b-input" type="text" value='' required="required">
                                 </dd>
                             </dl>

                         </div>
                        <p>选择相应的分类，让大家更容易找到你的小镇</p>

                    </div>
                </div>

                <div class="form-row clearfix">
                    <label>上传主图：</label>
                    <div class="fm-item">
                        <img id="J_uploadImgShow">
                        <input type="button" value="上传本地图片"id="J_LocalImgFormSubmit" class="bbl-btn upload-cover">

                        <p>支持GIF、JPG、PNG,大小不超过2M</p>
                    </div>
                </div>

                <div class="form-row clearfix">
                    <label>详细内容：</label>
                    <div class="fm-item">
                        <textarea id="J_ForumPostCon" name="content" class="b-textarea" placeholder="请输入帖子内容">

                        </textarea>
                        <p>内容越详细越好哦</p>
                    </div>
                </div>

                <div class="form-row clearfix">
                    <label>标签：</label>
                    <div class="fm-item">
                        <input type="text" class="b-input" name="tags" id="J_TopicTags"  value=''>
                        <p>多个标签用逗号隔开</p>
                    </div>
                </div>

                <div class="form-row">
                    <label>&nbsp;</label>
                    <input type="submit" class="bbl-btn submit" value="提交申请">
                </div>
            </form>
        </div>
    </div>


</div>

        }{
<script type="text/javascript">
    seajs.use(["app/init", "app/smeite.editor"], function(init){
        var $ = jQuery;
        if(SMEITER.userId == ""){
            $.smeite.dialog.isLogin();
        }
        $.smeite.editor = $.smeite.Editor();

        init.load("app/site/site.edit");
    });
</script>
}