@(user:Option[models.user.User],
post:(models.site.Post,models.user.User,models.site.Site),
userPosts:List[models.site.Post],
userSites:List[models.site.Site],
sitePosts:List[models.site.Post],
siteMembers:List[models.user.User]
)
@views.html.template(
user,
nav="site",
title =  "食美特，不一样的生活"
)(css="/assets/css/template/sitePost.css") {

<div class="container clearfix" id="post">


<!-- site 帖子 -->

    <div class="post clearfix">
        <!--  post left  about post admin -->
        <div class="post-left">
            <div class="poster clearfix">

                    <a class="pic"><img src="@post._2.pic" width="150" height="150" class="c"> </a>
                    <span>创建者：<a href="@controllers.users.routes.Users.home(post._2.id.get)" target="_blank">@post._2.name</a></span>


                <div class="follow">
                    <a class="follow-btn">+关注</a>
                </div>
            </div>
            <div class="poster-others">
                <dl class="posts">
                    <dt>TA发表的贴子</dt>
                    @for(post <- userPosts){
                    <dd class="ofh"><a href="@controllers.routes.Sites.post(post.id.get)"  title="@post.title">@post.title</a></dd>
                     }
                </dl>
                <dl class="site">
                    <dt>TA加入的小镇</dt>
                    @for(site <- userSites){
                    <dd><a href="@controllers.routes.Sites.site(site.id.get)" title="@site.title"><img src="@site.pic" width="30" height="30">@site.title</a></dd>
                    }
                </dl>
            </div>



        </div>
        <!-- post main content-->
        <div class="post-main">
               <div class="post-title-bar">
                   <div class="post-title">
                      <h3>@post._1.title</h3>
                       <ul class="post-relate clearfix">
                           <li>浏览：<span class="view-num"> @post._1.viewNum</span> </li>
                           <li class="blank">|</li>
                           <li>更新：<span class="update-time">@post._1.addTime</span></li>
                       </ul>
                   </div>

                       <div class="like-common like-common-s">
                           <a class="like" rel="followPost" href="javascript:void(0)" data-pid="@post._1.id.get" title="喜欢"><i>喜欢</i></a>
                           <div class="like-num">
                               <dl class="J_scrollUp" style="top: 0px;">
                                   <dd class="J_FavorNum" data-val="@post._1.loveNum">@post._1.loveNum</dd>
                                   <dd>+1</dd>
                               </dl>
                           </div>
                       </div>

               </div>

             @if(post._1.cid ==0){
            <ul class="menu clearfix">
                <li class="bl1 bt1"><strong>工艺</strong>
                    @post._1.extraAttr1.getOrElse("")
                </li>
                <li class="bt1">
                    <strong>口味</strong>
                    @post._1.extraAttr2.getOrElse("")
                </li>
                <li class="bt1">
                    <strong>难度</strong>
                    <div class="processing_w"><span class="processing processing_nd9"></span>
                        @post._1.extraAttr3.getOrElse("")
                    </div>
                </li>
                <li class="bl1" >
                    <strong >主料</strong>
                    @post._1.extraAttr4.getOrElse("")
                </li>
                <li>
                    <strong>辅料</strong>
                    @post._1.extraAttr5.getOrElse("")

                </li>
                <li>
                    <strong>配料</strong>
                    @post._1.extraAttr6.getOrElse("")
                </li>
            </ul>
             }
            <div class="post-content">

                @Html(post._1.content)

            </div>
             <!--share -->
            <div class="post-share clearfix">
                <div class="share">
                    <div class="share-link" data-sharetxt="@post._1.title" data-sharepic="@post._1.pic" data-sharelink="@controllers.routes.Sites.post(post._1.id.get)">
                        <label class="fl l20 gc">分享到：</label>
                        <a class="s-sina fl" href="javascript:;" data-type="s-sina" alt="分享到新浪微博"></a>
                        <a class="s-qzone fl" href="javascript:;" data-type="s-qzone" alt="分享到QQ空间"></a>
                        <a class="s-tencent fl" href="javascript:;" data-type="s-tencent" alt="分享到腾讯微博"></a>
                        <a class="s-douban fl" href="javascript:;" data-type="s-douban" alt="分享到豆瓣"></a>
                        <a class="s-renren fl" href="javascript:;"  data-type="s-renren" alt="分享到人人网"></a>

                    </div>
                </div>
                <div class="post-like-doing">
                    <em id="faverNum" value="0">0人喜欢</em>
                    <a class="btn-postlike j-like" href="javascript:;"><ins></ins>喜欢</a>
                </div>
            </div>
            <!-- comment -->
             <div class="comment">
                <span class="top-arrow">
                    <em></em>
                </span>
                 <div class="comment-box">

                     <div class="comment-list">
                         <ul id="J_commentList">

                         </ul>
                         <form  method="post" id="J_postCommentForm" action="/post/addComment">
                             <input type="hidden" name="pid" id="J_pid" value="@post._1.id.get">
                             <input type="hidden" name="cid" id="J_cid" value="0">
                             <input type="hidden" name="quoteContent" id="J_quoteContent">
                         <ul>
                             <li id="J_postQuote" class="post-quote"></li>
                             <li class="post-c">
                                 @if(user.isEmpty){
                                 <div class="share-avt">
                                     <a href="javascript:void(0)" target="_blank">
                                     <img class="avt32 fl" value="" src="/images/user/default.jpg" width="38" height="38" >
                                 </a>
                                 </div>
                                 }else{
                                 <div class="share-avt">
                                     <a href="@controllers.users.routes.Users.home(user.get.id.get)" target="_blank">
                                         <img class="avt32 fl" title="@user.get.name" src="@user.get.pic" width="38" height="38" >
                                     </a>
                                 </div>
                                 }
                                 <span class="arrow"></span>
                                 <div class="share-user">
                                     <div class="post">
                                         <div><textarea id="J_commentContent"   label="说两句吧" ></textarea></div>

                                         <div class="btn-post clearfix">
                                             <input type="button" id="J_postCommentSubmit" class="bbl-btn  fr" value="发布">

                                         </div>
                                     </div>

                                 </div></li>
                         </ul>
                             </form>
                     </div>
                 </div>

             </div>
        </div>
        <!-- post right a  -->
        <div class="post-right">
            <div class="post-site">
                <a><img width="180" height="180" src="@post._3.pic"></a>
                <h3 class="site-title"><a href="@controllers.routes.Sites.site(post._3.id.get)"> @post._3.title</a></h3>
                <div class="back-site"><a href="@controllers.routes.Sites.site(post._3.id.get)">返回小镇</a> </div>
                <div class="follow clearfix">
                    <a rel="followSite" href="javascript:;" class="follow-btn" data-title="@post._3.title" data-id="@post._3.id"> + 加入小镇</a>

                </div>
            </div>
            <div class="site-others">
                    <dl class="posts">
                        <dt>小镇动态</dt>
                        @for(post <- sitePosts){
                        <dd class="ofh"><a href="@controllers.routes.Sites.post(post.id.get)"  title="@post.title">@post.title</a></dd>
                       }
                    </dl>
                    <dl class="members">
                        <dt>小镇居民</dt>
                        @for(user <- siteMembers){
                        <dd><a href="@controllers.users.routes.Users.home(user.id.get)" target="_blank" title="@user.name"><img src="@user.pic">@user.name</a></dd>
                       }
                    </dl>
                </div>

        </div>
    </div>



</div>

}{

<script type="text/javascript">
    seajs.use(['smeite/site/post','smeite/site/favor','smeite/user/favor'])
</script>
}