@(user:Option[models.user.User],site:models.site.Site,page:models.Page[models.site.Post],sid:Long,s:Int)
@views.html.template(
user,
nav="site",
title =  "食美特，不一样的生活"
)(css="/assets/css/template/site.css") {

<div class="container clearfix" id="site">
    <!-- site nav 包括logo intro  管理员-->
   <div class="site-nav">
      <div class="logo">
          <img width="200" height="200" src="@site.pic">
      </div>
       <div class="site-info">
           <h3>@site.title </h3>
           <p class="intro">@site.intro</p>
           <div class="tags clearfix">
               <label >相关标签：</label>
               <ul>
                   @for(tag<-site.tags.split(",")){
                   <li> <a href="@controllers.Search.search(tag,1)" >@tag</a> </li>
                   }


               </ul>
           </div>




       </div>
       <div class="manager">
          <div class="owner clearfix">
              <h3>管理员</h3>
              <ul>
                  <li><a><img width="45" height="45" src="/images/user/default.jpg"></a></li>

                  <li><a><img width="45" height="45" src="/images/user/default.jpg"></a></li>
                  <li><a><img width="45" height="45" src="/images/user/default.jpg"></a></li>

              </ul>
          </div>

           <div class="join clearfix">
               <div class="love-num">已有1002居民</div>
               <div class="follow">
                   <a class="follow-btn"> + 加入小镇</a>
                   <!-- <div class="followed-btn-big">已关注<span class="mr5 ml5">|</span><a rel="removefollow" data-followtype="5" data-usernick="duanyu200888" data-userid="3" href="javascript:;">取消</a></div>-->
               </div>
               <div class="invite">
                   <a class="follow-btn"> 邀请好友</a>
               </div>
           </div>
           <div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare">
               <span class="bds_more">分享到：</span>
               <a class="bds_tsina"></a>
               <a class="bds_qzone"></a>
               <a class="bds_tqq"></a>
               <a class="bds_renren"></a>
               <a class="bds_mshare"></a>
           </div>


       </div>

   </div>

    <!-- site media 包括 宝贝  图片 视频-->
    <div class="site-media">
        <div class="site-baobei">
            <a class="add add-baobei">
            <ins class="ico-baobei"></ins>
                <p>添加宝贝</p>
            </a>
        </div>
        <div class="site-pic">
            <a class="add add-pic">
                <ins class="ico-pic"></ins>
                <p>添加图片</p>
            </a>
        </div>
        <div class="site-video">
            <a class="add add-video">
                <ins class="ico-video"></ins>
                <p>添加视频</p>
            </a>
        </div>
    </div>
    <!-- site tools 包括 编辑 上传图片 上传视频-->
   <!-- <div class="site-tools clearfix">
        <div class="site-baobei">
            <a class="add add-baobei">
                <ins class="ico-baobei"></ins>
                <p>添加宝贝</p>
            </a>
        </div>
        <div class="site-pic">
            <a class="add add-pic">
                <ins class="ico-pic"></ins>
                <p>添加图片</p>
            </a>
        </div>
        <div class="site-video">
            <a class="add add-video">
                <ins class="ico-video"></ins>
                <p>添加视频</p>
            </a>
        </div>
        <div class="site-post last">
            <a class="add add-post">
                <ins class="ico-post"></ins>
                <p>添加帖子</p>
            </a>
        </div>
    </div>-->
       <!-- site 帖子 -->
    <div class="site-posts">
        <div class="hd ">
            <div class="site-filter clearfix">
                <div class="filter">
                    <h2>@site.title</h2>
                    <a  href='@controllers.routes.Sites.site(sid,1,1)'  @if(s==1){class=" current"}><span>最新</span></a>
                    <a   href='@controllers.routes.Sites.site(sid,2,1)'  @if(s==2){class=" current"}><span>最热</span></a>
                </div>
                <div class="edit"><a class="current" href='@controllers.routes.Sites.editPost(0,site.id.get)'> + 发帖</a></div>
                <i></i>
            </div>

        </div>
        <div class="clear"></div>
        <div class="bd clearfix">
             <div class="post-list">

                 @for((item,i)<-page.items.view.zipWithIndex){
                 <div class="post-item @if((i+1)%4==0){last} ">
                     <div class="pic" style="height:210px ">
                         <a href="@controllers.routes.Sites.post(item.id.get)" target="_blank">
                             <img width="210px" alt="@item.title" title="@item.title" src="@item.pic">
                         </a>

                     </div>

                         <div class="num">
                             <div class="view-num">@item.viewNum</div>
                             <div class="reply-num">@item.replyNum</div>
                             <div class="like-state">
                                 <a rel="followGoods" href="javascript:void(0)" data-pid="@item.id.get">
                                     <i class="ico-likes" title="喜欢"></i>
                                 </a>
                                 <div class="like-num">
                                     <dl class="J_scrollUp" style="top: 0px;">
                                         <dd class="J_FavorNum" data-val="@item.loveNum">@item.loveNum</dd>
                                         <dd>+1</dd>
                                     </dl>
                                 </div>
                             </div>
                         </div>
                        <div class="title">
                            <a href="@controllers.routes.Sites.post(item.id.get)" class="ofh">@item.title</a>
                        </div>

                 </div>
                   }
             </div>

            <div class="tac mt20">
                <div class="pagin inlineblock clearfix" id="J_Pagination">
                    @if(page.nums.length>1){
                    @page.prev.map { page =>
                    <a class="prev" href="@controllers.routes.Sites.site(sid,s,page)">上一页</a>
                    }
                    @for(num <-page.nums){
                    @if(num==page.currentPage){
                    <span class="current">@num</span>
                    }else {
                    <a href="@controllers.routes.Sites.site(sid,s,num)">@num</a>
                    }
                    }
                    @page.next.map { page =>
                    <a class="next" href="@controllers.routes.Sites.site(sid,s,page)">下一页</a>

                    }

                    }
                </div>
            </div>

        </div>
    </div>



</div>

        }{
<script type="text/javascript">
    seajs.use('app/init', function (init) {

      init.load('app/site/site');
    });
</script>
<script type="text/javascript">
    seajs.use(['$','smeite/site/favor','smeite/site/site'])
</script>
}