@(user:Option[models.user.User],exchangeForm:Form[Int],page:Page[models.user.UserExchangeShiDou],msg:String ="")
@views.html.template(
user
)(css="/assets/css/template/userSetting.css") {
<div class="container" id="account">
    <div class="setting clearfix">
        <div class="side-nav">
            <h2>帐号设置</h2>
            <ul>

                <li> <a  href="@controllers.users.routes.UsersAccount.myCredits(1)">我的集分宝</a> </li>
                <li> <a class="on"  href="@controllers.users.routes.UsersAccount.myShiDou(1)">我的食豆</a>  </li>
                <li> <a  href="@controllers.users.routes.UsersAccount.myAward">我的奖品</a>  </li>
                <li> <a  href="@controllers.users.routes.UsersAccount.invite(1)">邀请有奖</a> </li>
            </ul>
        </div>
        <div class="main-content">
            <div class="shiDou">
                <div class="shiDou_info mb20">
                    <div class="credits_info">您已经获得<span>@{user.get.shiDou}</span>个食豆（已成功兑换<span>@user.get.withdrawShiDou</span>，值<span>￥@(user.get.withdrawShiDou/100.0)</span>元）</span></div>
                </div>

                <div class="title">申请兑换</div>
                @if(msg !=""){
                <div class="error-row" style="display:block"><p class="ok">@msg !</p></div>
                }

                <div class="set-password mb20 clearfix">
                    <form id="J_exchangeShiDou" method="post" class="set-form" action="@controllers.users.routes.UsersAccount.exchangeShiDou">

                        @exchangeForm.errors.map { error =>
                        <div class="error-row">
                            <p class="error"> @error.message</p>
                        </div>
                        }

                        <div class="form-row">
                            <label><span class="rc">*</span>兑换数量：</label>
                            <input type="text" class="base-input" name="shiDou" id="shiDou" value='@exchangeForm("shiDou").value'>

                        </div>
                        <div class="form-row">
                            <label>&nbsp;</label>

                            @if((user.get.shiDou - user.get.withdrawShiDou)>=1000){
                            <input type="submit" class="bbl-btn submit" value="兑换">
                            }else{
                            <input type="button" class="bgr-btn submit" value="兑换">
                            }
                        </div>

                    </form>
                </div>
                <div class="title">兑换记录</div>
                <table class="table">
                    <thead>
                    <tr  height="35">
                        <th  width="120">兑换时间</th>
                        <th  width="80">兑换数量</th>
                        <th  width="120">处理状态</th>
                        <th  width="120">处理时间</th>
                        <th  width="272">处理结果</th>
                    </tr>
                    </thead>
                    <tbody>
                    @if(page.items.length !=0){
                       @for(item <- page.items){
                       <tr>
                           <td>@item.applyTime </td>
                           <td>@item.num </td>
                           <td>@item.handleTime </td>
                           <td>@models.user.HandleStatus(item.handleStatus) </td>
                           <td>@models.user.HandleResult(item.handleResult)</td>
                       </tr>
                        }
                    }else{
                    <tr>
                        <td colspan="5" class="table_one">您还没有兑换记录！</td>
                    </tr>
                    }
                    </tbody>
                </table>

            </div>

            <div class="help">
                <div class="help-title">小提示</div>
                <ul>
                    <li>食豆是食美特推出的积分，与集分宝等价。查看如何<a href="/shiDou">获取食豆以及食豆的功能？</a></li>
                    <li>1个食豆等于1个集分宝，100个食豆等于100个集分宝，相当于1元人民币。</li>
                    <li>食豆超过1000个方可以兑换 </li>
                    <li>每次至少兑换1000个，兑换数量必须为1000的倍数（例如：1000，2000，3000）</li>

                </ul>
            </div>
        </div>
    </div>
</div>

}{
<script type="text/javascript">

    seajs.use("smeite/user/exchangeShiDou");
</script>
}